
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script src="~/Scripts/FewMain/jquery.featureCarousel.js"></script>
    <script src="~/Scripts/FewMain/index.js"></script>

    <script>
        $(function() {
            var indexBan = new Banner().init({
                id: '#drHomeBan',
                btnListId: '#drHomeBanxd',
                btnListClass: 'drbanner_click',
                nextBtn: '#drbanNext',
                prevBtn: '#drbanPrev'
            });

            $("#featureCarousel").featureCarousel({

            });

        });

    </script>

}
<div class="main" style="width: 100%">
    <!--轮播图-->

    <div class="dr_banner">
        <ul class="dr_bannerul" id="drHomeBan">
            <li style="display: none;">
                <a href="http://www.darryring.com/act/drChristmas" target="_blank">
                    <img src="http://jewely-image.b0.upaiyun.com/images/2016-12-02/1480665758.jpg">
                </a>
            </li>
            <li style="display: none;">
                <a href="http://www.darryring.com/culture" target="_blank">
                    <img src="http://jewely-image.b0.upaiyun.com/images/2016-12-02/1480665798.jpg">
                </a>
            </li>
            <li style="display: list-item;">
                <a href="http://www.darryring.com/act/drTwelveDate" target="_blank">
                    <img src="http://jewely-image.b0.upaiyun.com/images/2016-12-15/1481796180.jpg">
                </a>
            </li>
            <li style="display: none;">
                <a href="http://www.darryring.com/act/store/sh" target="_blank">
                    <img src="http://jewely-image.b0.upaiyun.com/images/2016-12-16/1481882043.jpg">
                </a>
            </li>
            <li style="display: none;">
                <a href="http://www.darryring.com/market/drqh.html" target="_blank">
                    <img src="http://jewely-image.b0.upaiyun.com/images/2016-12-10/1481336945.jpg">
                </a>
            </li>
            <li style="display: none;">
                <a href="http://www.darryring.com/market/myheart" target="_blank">
                    <img src="http://jewely-image.b0.upaiyun.com/images/2016-12-05/1480906184.jpg">
                </a>
            </li>
        </ul>
        <div class="drbanner_xdcort">
            <ul class="drbanner_xd" id="drHomeBanxd">
                <li class=""><span></span></li>
                <li class=""><span></span></li>
                <li class="drbanner_click"><span></span></li>
                <li class=""><span></span></li>
                <li class=""><span></span></li>
                <li class="nobg"><span></span></li>

            </ul>
        </div>
        <a id="drbanPrev" class="drbanBtn drprevBtn" href="javascript:;"></a>
        <a id="drbanNext" class="drbanBtn drnextBtn" href="javascript:;"></a>
    </div>
    <!--轮播图-->
    <div class="pro_news">
        <div class="left"><a href="http://www.sunloves.com/diamond/index/nid/2.html" target="_blank"><img src="~/Content/images/index/h_20.jpg"></a></div>
        <div class="right">
            <div class="top"><a href="http://www.sunloves.com/info/index/nid/3.html" target="_blank"><img src="~/Content/images/index/h_05.gif"></a></div>
            <div class="con">
                <div class="title"><h3>NEWS</h3><a href="http://www.sunloves.com/list/index/nid/8.html" target="_blank">MORE+</a></div>
                <ul>
                    <li><a href="http://www.sunloves.com/content/index/nid/12/id/69.html" target="_blank">尚爱珠宝公司春节放假与商品购买公告</a><span>2016-01-29</span></li>
                    <li><a href="http://www.sunloves.com/content/index/nid/31/id/50.html" target="_blank">钻石颜色等级怎么分级</a><span>2015-10-15</span></li>
                    <li><a href="http://www.sunloves.com/content/index/nid/31/id/48.html" target="_blank"> 黄钻的等级的划分</a><span>2015-10-15</span></li>
                    <li><a href="http://www.sunloves.com/content/index/nid/31/id/47.html" target="_blank">中国钻石回购难题很多</a><span>2015-10-15</span></li>
                </ul>
            </div>
        </div>
        <div class="bot"><img src="~/Content/images/index/h_31.gif"></div>
    </div>

    <!---------------新品上市----------------------->
    <div class="news_product">
        <div class="product_box">
            <div class="fuwuImg">
                <!--img start-->
                <div id="featureCarousel">

                    <div class="feature" style="left: 364px; width: 430px; height: 430px; top: 20px; opacity: 1; z-index: 4;">
                        <img src="~/Content/images/index/20160304143426_43016.jpg" alt="钻石:YX038" style="width: 430px; display: inline-block; height: 430px;">
                        <div style="display: block; opacity: 0.85;">
                            <span>型号：YX038</span>
                            <p></p>
                            <a href="http://www.sunloves.com/content/setting/nid/60/id/1484.html" target="_blank">点击查看详细信息</a>
                        </div>
                    </div><div class="feature" style="left: 784px; width: 344px; height: 344px; top: 60px; opacity: 0.4; z-index: 1;">
                        <img src="~/Content/images/index/20160304142916_42717.jpg" alt="钻石:HZ037" style="width: 344px; display: inline-block; height: 344px;">
                        <div style="display: none;">
                            <span>型号：HZ037</span>
                            <p></p>
                            <a href="http://www.sunloves.com/content/setting/nid/59/id/1472.html" target="_blank">点击查看详细信息</a>
                        </div>
                    </div><div class="feature" style="left: 407px; width: 344px; height: 344px; top: 60px; opacity: 0;">
                        <img src="~/Content/images/index/20160303181610_69578.jpg" alt="钻石:ZH043" style="width: 344px;">
                        <div style="display: none;">
                            <span>型号：ZH043</span>
                            <p></p>
                            <a href="http://www.sunloves.com/content/setting/nid/75/id/1412.html" target="_blank">点击查看详细信息</a>
                        </div>
                    </div><div class="feature" style="left: 407px; width: 344px; height: 344px; top: 60px; opacity: 0;">
                        <img src="~/Content/images/index/20160225155722_86744.jpg" alt="钻石:BGL056" style="width: 344px;">
                        <div style="display: none;">
                            <span>型号：BGL056</span>
                            <p></p>
                            <a href="http://www.sunloves.com/content/setting/nid/65/id/985.html" target="_blank">点击查看详细信息</a>
                        </div>
                    </div><div class="feature" style="left: 407px; width: 344px; height: 344px; top: 60px; opacity: 0;">
                        <img src="~/Content/images/index/20160225150918_28086.jpg" alt="钻石:Bluenile67" style="width: 344px;">
                        <div style="display: none;">
                            <span>型号：Bluenile67</span>
                            <p></p>
                            <a href="http://www.sunloves.com/content/setting/nid/71/id/960.html" target="_blank">点击查看详细信息</a>
                        </div>
                    </div><div class="feature" style="left: 407px; width: 344px; height: 344px; top: 60px; opacity: 0;">
                        <img src="~/Content/images/index/20160225105752_36672.jpg" alt="钻石:BGL029" style="width: 344px;">
                        <div style="display: none;">
                            <span>型号：BGL029</span>
                            <p></p>
                            <a href="http://www.sunloves.com/content/setting/nid/65/id/882.html" target="_blank">点击查看详细信息</a>
                        </div>
                    </div><div class="feature" style="left: 407px; width: 344px; height: 344px; top: 60px; opacity: 0;">
                        <img src="~/Content/images/index/20160224183358_71962.jpg" alt="钻石:BLSM059" style="width: 344px;">
                        <div style="display: none;">
                            <span>型号：BLSM059</span>
                            <p></p>
                            <a href="http://www.sunloves.com/content/setting/nid/70/id/873.html" target="_blank">点击查看详细信息</a>
                        </div>
                    </div><div class="feature" style="left: 407px; width: 344px; height: 344px; top: 60px; opacity: 0;">
                        <img src="~/Content/images/index/20160224181957_90197.jpg" alt="钻石:BLSM041" style="width: 344px;">
                        <div style="display: none;">
                            <span>型号：BLSM041</span>
                            <p></p>
                            <a href="http://www.sunloves.com/content/setting/nid/70/id/855.html" target="_blank">点击查看详细信息</a>
                        </div>
                    </div><div class="feature" style="left: 407px; width: 344px; height: 344px; top: 60px; opacity: 0; z-index: 1;">
                        <img src="~/Content/images/index/20160224180835_64316.jpg" alt="钻石:BLSM021" style="width: 344px; display: inline-block; height: 344px;">
                        <div style="display: none;">
                            <span>型号：BLSM021</span>
                            <p></p>
                            <a href="http://www.sunloves.com/content/setting/nid/70/id/815.html" target="_blank">点击查看详细信息</a>
                        </div>
                    </div><div class="feature" style="left: 30px; width: 344px; height: 344px; top: 60px; opacity: 0.4; z-index: 1;">
                        <img src="~/Content/images/index/20160224170946_82375.jpg" alt="钻石:YKFB040" style="width: 344px; display: inline-block; height: 344px;">
                        <div style="display: none;">
                            <span>型号：YKFB040</span>
                            <p></p>
                            <a href="http://www.sunloves.com/content/setting/nid/69/id/671.html" target="_blank">点击查看详细信息</a>
                        </div>
                    </div>
                </div>
                <!--img end-->
            </div>
        </div>
    </div>

    <div class="hot_product">
        <div class="top"><img src="~/Content/images/index/h_18.gif"></div>

        <div class="top2"><a href="http://www.sunloves.com/Content/product/nid/20/id/332.html" target="_blank"><img src="~/Content/images/index/h_34.gif" alt="六爪钻戒 白18K金六爪皇冠女戒"></a>	 </div>
        <div class="left">
            <a href="http://www.sunloves.com/Content/product/nid/20/id/329.html" target="_blank"><img src="~/Content/images/index/h_36.gif" alt="18K白金雪花六爪扭臂钻戒"></a>
        </div>
        <div class="right">
            <div class="top2">
                <a href="http://www.sunloves.com/Content/product/nid/20/id/330.html" target="_blank"><img src="~/Content/images/index/h_38.gif" alt="18K玫瑰金小清新蝴蝶钻戒"></a>
            </div>
            <ul>
                <li><a href="http://www.sunloves.com/Content/product/nid/20/id/333.html" target="_blank"><img src="~/Content/images/index/h_40.gif" alt="裸钻定制 钻石批发 gia裸钻"></a></li>
                <li><a href="http://www.sunloves.com/Content/product/nid/20/id/334.html" target="_blank"><img src="~/Content/images/index/h_401.gif" alt="超性价比 异形裸钻 gia证书钻石定制"></a></li>
            </ul>
        </div>
    </div>
    <div class="ly">
        <div class="box">
            <div class="left"><img src="~/Content/images/index/h_46.gif"></div>
            <div class="server_right">
                <span>留下您的脚印 让QYdiamond与您同行！</span>
                <form name="my_form" action="http://www.sunloves.com/form/index.html" method="post">
                    <input name="c1" type="hidden" value="您的称呼">
                    <input name="c2" type="hidden" value="您的联系方式">
                    <input name="class" type="hidden" value="189">
                    <input type="text" name="title" value="您的尊贵称呼" onblur="if(this.value==&#39;&#39;){this.value=&#39;您的尊贵称呼&#39;;}" onfocus="if(this.value==&#39;您的尊贵称呼&#39;){this.value=&#39;&#39;;}">
                    <input type="text" name="phone" value="您的联系方式" onblur="if(this.value==&#39;&#39;){this.value=&#39;您的联系方式&#39;;}" onfocus="if(this.value==&#39;您的联系方式&#39;){this.value=&#39;&#39;;}">
                    <textarea name="content" onblur="if(this.value==&#39;&#39;){this.value=&#39;想对QYdiamond说的话…&#39;;}" onfocus="if(this.value==&#39;想对QYdiamond说的话…&#39;){this.value=&#39;&#39;;}">想对QYdiamond说的话…</textarea>
                    <input style="background:#21d9d9; border:none; color:#ffffff; font-size:16px;" type="submit" name="submit" value="立即提交，享受QYdiamond最专业的服务">
                </form>
            </div>
        </div>
    </div>
    <div class="baozhen">
        <div class="top"><img src="~/Content/images/index/h_50.gif"></div>
        <div class="top2"><img src="~/Content/images/index/h_52.gif"></div>
        <div class="con"><a href="http://www.sunloves.com/#"><img src="~/Content/images/index/h_53.gif"></a></div>
    </div>
</div>

