     dl, dt, dd , label, legend, table, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        font-style: normal;
    }

    .w1000 {
        width: 1200px;
        margin: 0 auto;
    }

    .clearfix:after {
        content: " ";
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        line-height: 0;
    }

    .fr {
        float: right;
        display: inline;
    }
.shoppingcart, .checkstand {
    font-family: "宋体";
    color: #666;
}

/*a:link {
    color: #C67C59;
}

a:hover {
    color: #d49e85;
}

a:visited {
    color: #C67C59;
}*/

a.link_btn1 {
    display: inline-block;
    padding: 6px 10px;
    color: #C67C59;
    border: 1px solid #C67C59;
    font-size: 12px;
    margin-right: 10px;
}

    a.link_btn1:hover {
        color: #D49E85;
        border: 1px solid #d49e85;
    }

a.link_btn2:hover {
    background: #d49e85;
}

.checkstand {
    margin: 40px auto;
    position: relative;
}

.checkstand_head {
    *height: 45px;
}

    .checkstand_head h3 {
        border-left: 2px solid #c67c59;
        font-size: 18px;
        font-family: "微软雅黑";
        color: #333;
        padding-left: 15px;
        display: inline-block;
        float: left;
    }

.shopping_steps div {
    width: 198px;
    float: left;
    text-align: center;
    color: #ccc;
    font-size: 12px;
}

.shopping_steps span {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 23px;
    color: #fff;
    letter-spacing: -2px;
    margin-bottom: 10px;
  
    background: #ccc url(../images/cart/steps_bg.png) center no-repeat;
}

.sp_steps1 span {
    background-position: left center;
}

.sp_steps3 span {
    background-position: right center;
}

.shopping_steps .steps_active span {
    background-color: #7abd54;
}

.shopping_steps .steps_active p {
    color: #7abd54;
}

.shopping_steps .steps_selected span {
    background-color: #caecb6;
}

.shopping_steps .steps_selected p {
    color: #caecb6;
}

.checkstand_con {
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin-top: 20px;
}

.order_info {
    border-bottom: 2px solid #F1F1F1;
    padding-bottom: 12px;
    *height: 16px;
}

    .order_info h4 {
        display: inline;
        color: #333;
        font-size: 16px;
        font-family: "微软雅黑";
        *float: left;
    }

.pay_money {
    *line-height: 20px;
}

    .pay_money span {
        color: #ff5d5b;
        font-weight: bold;
        font-size: 13px;
    }

.order_detail {
    margin: 60px 0;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

    .order_detail h3 {
        font-size: 18px;
        font-family: "微软雅黑";
        color: #c67c59;
        font-weight: bold;
        margin-bottom: 10px;
    }

.toggle_detail {
    background: url(../img/cart/right.png) right center no-repeat;
    padding-right: 12px;
    color: #c67c59;
    margin-left: 10px;
}

    .toggle_detail.active {
        background: url(../img/cart/bottom.png) right center no-repeat;
    }

.order_detail p span {
    color: #ff5d5b;
}

.order_detailInfo {
    display: inline-block;
    min-width: 460px;
    margin: 15px auto;
    margin-bottom: 0;
    padding: 15px 0;
    text-align: left;
    border-top: 2px dashed #e2e2e2;
    background: #fafafa;
    *width: 460px;
}

    .order_detailInfo p {
        margin: 0 30px;
    }

.detail_hide {
    display: none;
    margin-bottom: 10px;
}

    .detail_hide p span {
        color: #666;
        margin: 0 20px;
    }

.tab {
    border-bottom: 1px solid #c6c6c6;
    padding-left: 20px;
    font-size: 12px;
}

    .tab .fr {
        margin-top: 12px;
        margin-right: 12px;
    }

.tab_select {
    display: inline-block;
    padding: 10px 18px;
    margin-right: 3px;
    background: #f1f0f0;
    color: #ababab;
    font-size: 14px;
    border: 1px solid #C6C6C6;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: default;
    *width: 150px;
    *float: left;
    *margin-right: 10px;
}

    .tab_select.active {
        background: #fff;
        border-bottom: 1px solid #fff;
        font-weight: bold;
        color: #666;
        margin-bottom: -1px;
    }

#tab_content2 {
    display: none;
}

.tab_contents {
    padding: 30px 20px;
    font-size: 12px;
    padding-right: 0;
    margin-right: -20px;
    *margin-bottom: 60px;
}

.pay_way {
    margin-bottom: 10px;
    z-index: 1;
    clear: both;
}

    .pay_way label {
        float: left;
        margin-top: 18px;
    }

    .pay_way ul {
        margin-left: 100px;
        z-index: 1;
        position: relative;
    }

        .pay_way ul li {
            display: inline-block;
            width: 150px;
            float: left;
            margin-bottom: 20px;
            margin-right: 18px;
            position: relative;
            z-index: 1;
        }

    .pay_way li a {
        display: block;
        width: 152px;
        height: 50px;
        position: relative;
    }

    .pay_way li div {
        width: 150px;
        height: 48px;
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
        overflow: hidden;
    }

    .pay_way li a:hover div {
        position: relative;
        left: -25px;
        top: -18px;
        width: 200px;
        height: 84px;
        background: #fff;
        border: 2px solid #d9b39b;
        box-shadow: 0 0 5px #ccc;
    }

    .pay_way li:hover {
        z-index: 2;
    }

    .pay_way li div {
    }

    .pay_way li a:hover img {
        margin-top: 10px;
    }

.pay_way1 li a:hover img {
    margin-top: 20px;
}

.pay_way li a:hover p {
    display: block;
    line-height: 18px;
    margin-top: -8px;
}

.pay_way p {
    display: none;
}

.pay_way li div.bank_selected {
    border: 2px solid #c67c59;
    background: url(../img/cart/ico-select2.png) right bottom no-repeat;
}

.pay_now {
    height: 50px;
    text-align: right;
    background: #f9f9f9;
    border: 1px solid #f1f1f1;
    border-top: 0;
    border-right: 0;
    *width: 100%;
    *margin-top: -9px;
}

.pay_bottom {
    width: 1000px;
    position: absolute;
}

.pay_float {
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -500px;
    z-index: 11;
}

.pay_now p {
    display: inline;
    margin-right: 30px;
    *line-height: 50px;
}

.pay_now a {
    display: inline-block;
    width: 160px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 50px;
    background: #C67C59;
    color: #fff;
    text-align: center;
}

.ordersuccess {
    margin: 40px auto;
}

.orderSuccess_tips {
    border: 1px solid #f1f1f1;
    background: #fafafa;
    padding: 60px 90px;
    position: relative;
}

    .orderSuccess_tips div {
        padding-left: 52px;
        font-size: 12px;
    }

.success_tips {
    background: url(../img/cart/ico-success.png) left center no-repeat;
}

    .success_tips h2 {
        font-size: 18px;
        font-weight: bold;
        font-family: "微软雅黑";
        color: #c67c59;
        margin-bottom: 15px;
    }

.success_link {
    margin: 20px 0;
}

    .success_link a {
        display: inline-block;
        padding: 6px 10px;
        margin-right: 15px;
        border: 1px solid #C67C59;
    }

.success_share .comShare {
    width: 215px;
    font-size: 12px;
    padding: 10px 0;
    border: 1px solid #e7dbd4;
    border-left: 0;
    border-right: 0;
}

    .success_share .comShare a {
        margin: 0;
        vertical-align: middle;
        *margin-right: 6px;
    }

.app_QRcode {
    position: absolute;
    right: 100px;
    bottom: -22px;
    z-index: 2;
}

.ordersuccess_ad {
    margin: 40px 0;
    text-align: center;
}

    .ordersuccess_ad img {
        max-width: 100%;
    }

    .ordersuccess_ad ul li {
        display: inline-block;
        margin-left: 20px;
        float: left;
        text-align: center;
    }

        .ordersuccess_ad ul li:first-child {
            margin-left: 0;
        }

    .ordersuccess_ad li a {
        display: block;
        font-size: 16px;
        font-family: "微软雅黑";
        color: #000;
        margin-bottom: 15px;
    }

    .ordersuccess_ad li:hover a {
        opacity: 0.8;
        filter: alpha(opacity=80);
        color: #d49e85;
    }

.shoppingcart {
    margin: 40px auto;
}

.shoppingcart_table {
    width: 100%;
    border: 0;
    margin: 20px 0;
    font-size: 12px;
    border: 1px solid #e0e0e0;
}

    .shoppingcart_table thead {
        background: #f3f3f3;
        border: 1px solid #e0e0e0;
    }

    .shoppingcart_table tbody {
        background: #fcfcfc;
        border: 1px solid #e0e0e0;
    }

    .shoppingcart_table tr {
    }

        .shoppingcart_table tr td {
            padding: 15px 0;
        }

    .shoppingcart_table tbody tr td {
        line-height: 30px;
    }

    .shoppingcart_table thead input, .scfoot_left input {
        margin: 0 4px 0 0 !important;
        vertical-align: middle;
        position: relative;
        top: -1px;
    }

.shoppingcart_tbody input[type="checkbox"] {
    margin-top: 40px;
}

.nopadding {
    padding: 0 !important;
}

.nopad_left {
    padding-left: 0 !important;
}

.padleft_20 {
    padding-left: 20px !important;
}

.border_dashed {
    border-bottom: 1px dashed #e0e0e0;
}

.shoppingcart_table strong {
    margin-right: 20px;
}

.ring_detail strong, .ring_detail div {
    display: inline-block;
    vertical-align: text-top;
    line-height: 20px;
    *display: inline;
    *float: left;
}

.ring_detail p {
    color: #999;
}

.ringdetail_hide {
    width: 200px;
}

    .ringdetail_hide div {
        display: none;
    }

.ringdetail_show {
 
    background: url('../images/cart/right.png') right center no-repeat;
    padding-right: 10px;
}

    .ringdetail_show.active {
        background: url('../images/cart/bottom.png') right center no-repeat;
 
    }

.shoppingcart_pay {
    height: 50px;
    background: #f9f9f9;
    border: 1px solid #f1f1f1;
    font-size: 12px;
}

    .shoppingcart_pay p {
        display: inline-block;
        margin-right: 15px;
        line-height: 50px;
        *display: inline;
    }

.scfoot_left {
    float: left;
    padding-left: 20px;
}

.scfoot_right {
    float: right;
}

.scfoot_left a {
    color: #666;
}

    .scfoot_left a:hover {
        color: #C67C59;
    }

.scfoot_right strong {
    color: #ff5d5b;
    margin: 0 1px;
    font-size: 13px;
}

.scfoot_right a {
    display: inline-block;
    width: 160px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    background: #C67C59;
    color: #fff;
    text-align: center;
    margin-left: 30px;
}

.shopping_security {
    font-size: 12px;
    text-align: right;
    margin-top: 10px;
}

    .shopping_security span {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        margin-left: 20px;
        padding-left: 25px;
      
    }

        .shopping_security span.security2 {
            background-position: 0 -36px;
        }

        .shopping_security span.security3 {
            background-position: 0 -70px;
        }

.shoppingcart_none {
    margin: 40px 0;
    background: #fafafa;
    border: 1px solid #f1f1f1;
}

    .shoppingcart_none div {
        width: 400px;
        height: 90px;
        margin: 95px auto;
        background: url(../img/cart/ico-cart.png) left center no-repeat;
        padding-left: 90px;
    }

        .shoppingcart_none div p {
            padding: 15px 0;
        }

.order_address {
    margin-top: 20px;
    margin-bottom: 60px;
    position: relative;
}

    .order_address .confirm_btn a {
        font-family: "微软雅黑";
        font-size: 14px;
    }

    .order_address .confirm_btn .link_btn1 {
        padding: 8px 25px;
    }

.address_lists {
    display: none;
}

.address_list {
    width: 600px;
    padding-left: 70px;
    font-size: 12px;
    color: #404040;
    line-height: 22px;
    position: relative;
}

    .address_list .sendto {
        position: absolute;
        left: 8px;
        top: 4px;
        background: url(../img/cart/ico-location.png) left top no-repeat;
        color: #ffbe78;
        padding-left: 20px;
        display: none;
    }

    .address_list input[type="radio"] {
        float: left;
    }

    .address_list p {
        line-height: 24px;
        margin-left: 25px;
    }

.order_address a {
    font-size: 12px;
}

.address_list.select {
    border: 1px solid #ffbe78;
    background: #fff8ef url(../img/cart/ico-select1.png) right bottom no-repeat;
    font-size: 14px;
    padding: 5px;
    padding-left: 70px;
    margin-bottom: 5px;
}

    .address_list.select .sendto {
        display: block;
        font-weight: bold;
        font-size: 12px;
    }

    .address_list.select div {
        width: 500px;
        font-weight: bold;
    }

.address_list span {
    font-size: 12px;
    color: #808080;
    font-weight: normal;
}

    .address_list span.address_phone {
        color: #666;
    }

.address_list.select span.address_phone {
    font-weight: bold;
    margin-right: 20px;
}

.address_list a {
    display: none;
}

.address_list.select a {
    position: absolute;
    right: 8px;
    top: 5px;
    display: block;
    float: right;
}

.address_hide {
    display: none;
}

.address_other {
    display: inline-block;
}

.address_option {
    margin-left: 95px;
    margin-top: 5px;
}

    .address_option a {
        margin-right: 10px;
    }

.delivery_notic {
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
    font-size: 12px;
}

    .delivery_notic h3 {
        color: #FFBE78;
        font-weight: bold;
        border-bottom: 1px dashed #e2e2e2;
        padding-bottom: 12px;
        margin-bottom: 8px;
    }

    .delivery_notic p {
        margin-bottom: 8px;
    }

    .delivery_notic input[type="text"] {
        width: 142px;
        height: 24px;
        line-height: 24px;
        margin-left: 20px;
        margin-right: 5px;
        font-size: 12px;
        color: #666;
        padding: 0 2px;
        border: 1px solid #c9c9c9;
    }

    .delivery_notic label {
        margin-left: 20px;
    }

.msg_o {
    display: none;
}

.order_info h4 span {
    font-size: 12px;
    margin-left: 20px;
    font-family: "宋体";
}

.confirm_info .order_info a {
    font-size: 12px;
    float: right;
    line-height: 20px;
}

.confirmInfo_table {
    width: 100%;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    margin: 20px 0;
    text-align: center;
}

    .confirmInfo_table thead {
        background: #f3f3f3;
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid #e0e0e0;
    }

    .confirmInfo_table img {
        float: left;
        margin-left: 40px;
    }

    .confirmInfo_table tbody tr {
        margin: 0 20px;
    }

    .confirmInfo_table tbody td {
        border-bottom: 1px dashed #e0e0e0;
    }

    .confirmInfo_table tbody div {
        display: block;
        text-align: left;
        margin-left: 150px;
        padding-top: 20px;
    }

        .confirmInfo_table tbody div p {
            line-height: 20px;
        }

    .confirmInfo_table strong {
        color: #FF5D5B;
        font-size: 13px;
    }

.address_popup {
    width: 560px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -190px;
    background: #fff;
    border: 2px solid #f2e3dc;
    padding: 20px;
    font-size: 12px;
    color: #404040;
    z-index: 10;
    display: none;
}

.address_edit {
    font-size: 12px;
}

    .address_edit h4 {
        color: #fc6210;
        margin-bottom: 20px;
    }

    .address_edit div {
        margin-bottom: 15px;
    }

    .address_edit label {
        width: 80px;
        display: inline-block;
        text-align: right;
        margin-right: 5px;
    }

        .address_edit label span {
            color: #ff5d5b;
            margin-right: 3px;
        }

    .address_edit input {
        height: 20px;
        width: 165px;
        line-height: 24px;
        padding: 2px;
        border: 1px solid #e6e6e6;
    }

    .address_edit select {
        height: 26px;
        width: 98px;
        padding: 2px;
        color: #666;
        border: 1px solid #e6e6e6;
    }

input.width300 {
    width: 300px;
}

input.width46 {
    width: 46px;
}

input.width126 {
    width: 126px;
}

.confirm_btn {
    padding-left: 92px;
    margin-top: 20px;
}

    .confirm_btn a {
        margin-right: 20px;
    }

input[type="text"].error_info {
    border: 1px solid #fe8c8c;
}

span.error_info {
    color: #fe8c8c;
}

.love_agreement_bg {
    background: url(../img/cart/bg_xy.jpg) left top;
    background-size: 100% 100%;
    padding: 20px;
    margin: 60px -20px;
}

.love_agreement_con {
    padding: 20px;
    background: #fff;
}

.love_agreement {
    min-height: 675px;
    background: #fff;
    font-size: 12px;
    border: 3px solid #dbc8ba;
}

.aggreement_logo {
    text-align: center;
    padding: 30px;
}

.aggreement_title {
    height: 60px;
    background: #dbc8ba;
    margin-top: 20px;
    position: relative;
}

    .aggreement_title img {
        position: absolute;
        left: 50%;
        top: -20px;
        margin-left: -60px;
    }

.have_read {
    text-align: center;
    margin-top: 40px;
}

    .have_read input {
        vertical-align: middle;
        margin-right: 5px;
    }

.aggreement_con {
    padding: 0 30px;
    padding-top: 30px;
    color: #404040;
}

.aggreement_left {
    float: left;
    width: 50%;
}

.aggreement_right {
    margin-left: 50%;
}

.aggreement_left label {
    display: inline-block;
    width: 80px;
    padding-right: 20px;
    text-align: right;
}

    .aggreement_left label span {
        color: #ff5d5b;
    }

.aggreement_left div {
    margin-bottom: 30px;
}

.aggreement_left input {
    height: 25px;
    line-height: 24px;
    width: 216px;
    padding: 0 2px;
}

.aggreement_left div strong {
    color: #c67c59;
    font-family: "微软雅黑";
}

.aggreement_right p {
    text-indent: 2em;
    line-height: 22px;
}

.aggreement_con2 {
    border-top: 1px dashed #e2e2e2;
}

    .aggreement_con2 .aggreement_right p {
        text-indent: 0;
    }

    .aggreement_con2 .aggreement_right h4 {
        margin-top: 20px;
        margin-bottom: 2px;
        font-size: 14px;
        color: #C67C59;
        font-family: "微软雅黑";
        font-weight: bold;
    }

div.anniversary {
    margin-bottom: 0;
}

.anniversary label {
    float: left;
    padding-top: 5px;
}

.anniversary div {
    margin-left: 110px;
    margin-bottom: 5px;
}

input.anniversary_time {
    width: 90px;
}

input.anniversary_name {
    width: 110px;
}

.add_anniversary {
    display: block;
    margin-left: 110px;
    margin-bottom: 30px;
}

.add_input {
    margin-right: 6px;
}

input.datatime {
    background: url(../img/cart/ico-calendar.png) 201px center no-repeat;
    padding-right: 20px;
    width: 196px;
    cursor: pointer;
}

    input.datatime.anniversary_time {
        width: 70px;
        background-position: 75px center;
    }

.order_remark {
    margin-top: 50px;
    margin-bottom: 20px;
}

    .order_remark textarea {
        width: 500px;
        height: 108px;
        line-height: 20px;
        padding: 5px;
        margin: 20px;
        margin-left: 0;
        border-color: #e6e6e6;
        resize: none;
        float: left;
        border: 1px solid #e6e6e6;
        overflow: auto;
    }

.remark_right {
    margin-top: 25px;
    font-size: 12px;
    color: #404040;
    line-height: 22px;
}

    .remark_right a {
        margin-left: 20px;
    }

input[type="radio"], input[type="checkbox"] {
    border: none;
}

.morePay {
    text-align: center;
    position: relative;
}

    .morePay p {
        font-size: 14px;
        color: #333;
        margin-bottom: 18px;
    }

    .morePay em, .morePay strong {
        vertical-align: middle;
    }

    .morePay em {
        color: #e60012;
        margin-right: 6px;
    }

    .morePay input {
        padding: 4px 0;
        text-indent: 24px;
        width: 238px;
        border: 1px solid #e4e4e4;
    }

    .morePay i {
        position: absolute;
        font-size: 14px;
        top: 37px;
        left: 370px;
    }

.pay_money {
    margin-left: 40px;
}

    .pay_money p {
        font-size: 12px;
    }

    .pay_money i {
        margin-left: 14px;
    }
