
@{
    ViewBag.Title = "全球裸钻查询表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="/Content/css/diamond.css" rel="stylesheet" />
    <script src="~/Scripts/FewMain/diamond.js"></script>
    <script src="/scripts/laypage/laypage.js"></script>
    <script src="~/Scripts/jsrender/jsrender.min.js"></script>
    <script id="tempDiamond" type="text/x-jsrender">
        <li>
            <dl>
                <dd>
                    <img src="/Content/images/base/dz1.png" alt="钻石证书号：1238546149" />
                </dd>
                <dd>{{>Weight}}</dd>
                <dd>{{>Color}}</dd>
                <dd>{{>Clarity}}</dd>
                <dd>{{>Cut}}</dd>
                <dd>{{>Polishing}}</dd>
                <dd>{{>Symmetry}}</dd>
                <dd>{{>Fluorescence}}</dd>
                <dd>--</dd>
                <dd> {{>Milk}} </dd>
                <dd>{{>Coffee}}</dd>
                @*<dd class="dd3">59</dd>
                <dd class="dd3">61.6</dd>*@
                <dd>
                    <a>{{>ProNoType}}</a>
                    @*<a href="http://www.gia.edu/cs/Satellite?pagename=GST%2FDispatcher&amp;childpagename=GIA%2FPage%2FReportCheck&amp;c=Page&amp;cid=1355954554547&amp;reportno=1238546149" target="_blank">GIA</a>*@
                </dd>
                <dd class="dd2">{{>ProNo}}</dd>
                <dd class="dd3">
                    {{>Price}}
                </dd>
                <dd class="diam-buy dd6"><a class="diam-login" style="color:#f80;">选购</a></dd>
            </dl>
        </li>

    </script>
    <script>
        //搜索
        function search(curr) {
            var color = [];
            var shape = [];
            var clarity = [];
            var cut = [];
            var polishing = [];
            var symmetric = [];
            var credentials = [];
            var fluorescence = [];
            $(".shape").find(".hover").each(function () {
                shape.push($(this).attr("value"));
            });
            $(".color").find(".hover").each(function () {
                color.push($(this).attr("value"));
            });
            $(".clarity").find(".hover").each(function () {
                clarity.push($(this).attr("value"));
            });
            $(".cut").find(".hover").each(function () {
                cut.push($(this).attr("value"));
            });
            $(".polishing").find(".hover").each(function () {
                polishing.push($(this).attr("value"));
            });
            $(".symmetric").find(".hover").each(function () {
                symmetric.push($(this).attr("value"));
            });
            $(".credentials").find(".hover").each(function () {
                credentials.push($(this).attr("value"));
            });
            $(".fluorescence").find(".hover").each(function () {
                fluorescence.push($(this).attr("value"));
            });
            var weightStart = $("#weightStart").val() == "" ? "0" : $("#weightStart").val();
            var weightEnd = $("#weightEnd").val() == "" ? "0" : $("#weightEnd").val();
            var noNai = $("#noNai[type='checkbox']").is(':checked');
            var kaNoNai = $("#kaNoNai[type='checkbox']").is(':checked');
            var outSide = $("#outSide[type='checkbox']").is(':checked');
            var inSide = $("#inSide[type='checkbox']").is(':checked');
            var inChina = $("#inChina[type='checkbox']").is(':checked');

            $.post("@Url.Action("GetDiamondData","Diamond")", {
                StrColor: JSON.stringify(color),
                StrClarity: JSON.stringify(clarity),
                StrCut: JSON.stringify(cut),
                StrShape: JSON.stringify(shape),
                StrPolishing: JSON.stringify(polishing),
                StrSymmetry: JSON.stringify(symmetric),
                StrFluorescence: JSON.stringify(fluorescence),
                StrCredentials: JSON.stringify(credentials),
                WeightStart: weightStart,
                WeightEnd: weightEnd,
                NoMilky: noNai,
                NoMilkyShade: kaNoNai,
                PageIndex: curr,
                OutSide: outSide,
                InSideHK: inSide,
                InChina: inChina
            }, function (data) {
                //渲染数据
                $("#diamondSearch").html($("#tempDiamond").render(data.PageList));
                $("#diamondCount").html(data.DiamondInfo);
                //分页脚本
                laypage({
                    cont: $('.pagination'), //容器。值支持id名、原生dom对象，jquery对象,
                    pages: data.PageCount, //总页数
                    curr: curr || 1,
                    skip: true, //是否开启跳页
                    skin: '#77C7C8',
                    groups: 7, //连续显示分页数
                    jump: function (obj, first) {
                        if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
                            search(obj.curr);
                        }
                    }
                });
            });
        }
        $(function () {
            search(1);
            bgChange();
            //分页脚本
        });
    </script>
}
<div id="position"><div class="box">当前位置：<a href="javascript:;">全球裸钻查询</a> <span style="float:right;">美元汇率：<b style="color:#ff9900;">6.90</b></span></div></div>
<div class="main">
    <div id="diamond_search">

        <!--形状-->
        <div class="con">
            <h3 class="s_h3">形状</h3>
            <ul class="shape">
                <li name="shape" value="1"><span class="sh1">圆形</span></li>
                <li name="shape" value="2"><span class="sh2">公主方</span></li>
                <li name="shape" value="3"><span class="sh8">祖母绿</span></li>
                <li name="shape" value="4"><span class="sh6">雷蒂恩</span></li>
                <li name="shape" value="5"><span class="sh3">椭圆形</span></li>
                <li name="shape" value="6"><span class="sh9">梨形</span></li>
                <li name="shape" value="7"><span class="sh5">马眼形</span></li>
                <li name="shape" value="8"><span class="sh4">心形</span></li>
                <li name="shape" value="9"><span class="sh4">三角形</span></li>
                <li name="shape" value="10"><span class="sh7">垫形</span></li>
                <li name="shape" value="100"><span class="sh7">其他</span></li>
            </ul>
        </div>
        <!--颜色-->
        <div class="con">
            <h3>颜色</h3>
            <ul class="color">
                <li name="color" value="2">D</li>
                <li name="color" value="4">E</li>
                <li name="color" value="8">F</li>
                <li name="color" value="16">G</li>
                <li name="color" value="32">H</li>
                <li name="color" value="64">I</li>
                <li name="color" value="128">J</li>
                <li name="color" value="256">K</li>
                <li name="color" value="512">L</li>
                <li name="color" value="1024">M</li>
            </ul>
        </div>
        <!--净度-->
        <div class="con" style="width:53.68%;">
            <h3>净度</h3>
            <ul class="clarity">
                <li name="clarity" value="3">IF</li>
                <li name="clarity" value="4">VVS1</li>
                <li name="clarity" value="8">VVS2</li>
                <li name="clarity" value="16">VS1</li>
                <li name="clarity" value="32">VS2</li>
                <li name="clarity" value="64">SI1</li>
                <li name="clarity" value="128">SI2</li>
            </ul>
        </div>
        <div class="con width2">
            <h3>重量</h3>
            <input name="size1" type="text" id="weightStart" onkeyup="if (this.value.length == 1) { this.value = this.value.replace(/[^\d.]/g, '') } else { this.value = this.value.replace(/[^\d.]/g, '') }" onafterpaste="if (this.value.length == 1) { this.value = this.value.replace(/[^\d.]/g, '') }else{ this.value = this.value.replace(/[^\d.]/g, '') }" value="0.3" /><font>ct</font><b></b>
            <input name="size2" type="text" id="weightEnd" value="18" /><font>ct</font>
        </div>
        <div class="clear"></div>
        <div class="con width">
            <h3>切工</h3>
            <ul class="cut">
                <li name="cut" value="2">EX </li>
                <li name="cut" value="4">VG</li>
                <li name="cut" value="8">GD</li>
            </ul>
        </div>
        <div class="con width">
            <h3>抛光</h3>
            <ul class="polishing">
                <li name="polishin" value="2">EX </li>
                <li name="polishin" value="4">VG</li>
                <li name="polishin" value="8">GD</li>
            </ul>
        </div>
        <div class="con width2">
            <h3>价格</h3>
            <input name="price1" type="text" value="1000" /><font>￥</font><b></b>
            <input name="price2" type="text" value="1000000" /><font>￥</font>
        </div>
        <div class="clear"></div>
        <div class="con width">
            <h3>对称</h3>
            <ul class="symmetric">
                <li name="symmetric" value="2">EX </li>
                <li name="symmetric" value="4">VG</li>
                <li name="symmetric" value="8">GD</li>
            </ul>
        </div>
        <div class="con width">
            <h3>证书</h3>
            <ul class="certificate">
                <li name="certificate" value="1" title="美国宝石学院">GIA</li>
                <li name="certificate" value="8" title="比利时高阶层钻石议会">HRD</li>
                <li name="certificate" value="4" title="国际宝石学院">IGI</li>
            </ul>
        </div>
        <div class="con width">
            <h3>证书号</h3><input name="number" type="text" value="" style="width: 246px;" />
        </div>
        <div class="clear"></div>
        <div class="con width3">
            <h3>荧光</h3>
            <ul class="symmetric fluorescence">
                <li name="fluorescence" value="1">N(无) </li>
                <li name="fluorescence" value="6">VSL/F(轻)</li>
                <li name="fluorescence" value="8">M(中)</li>
                <li name="fluorescence" value="16">S(强)</li>
            </ul>
        </div>
        <div class="con width4">
            <h3>
                <label for="noNai">不咖不奶</label>
            </h3><input name="number" id="noNai" type="checkbox" style="width: 20px; margin-top: 5px" value="" />
            <h3>
                <label for="kaNoNai">浅咖不奶</label>
            </h3><input name="number" type="checkbox" id="kaNoNai" style="width: 20px; margin-top: 5px" value="" />
            <h3>
                <label for="outSide">在国外</label>
            </h3><input name="number" type="checkbox" id="outSide" style="width: 20px; margin-top: 5px" value="" />
            <h3>
                <label for="inSide">在香港</label>
            </h3><input name="number" type="checkbox" id="inSide" style="width: 20px; margin-top: 5px" value="" />
            <h3>
                <label for="inChina">在国内</label>
            </h3><input name="number" type="checkbox" id="inChina" style="width: 20px; margin-top: 5px" value="" />
        </div>
        <div class="clear"></div>
        <div class="con width4">
            <h3 style="width: 270px; float: left;" id="diamondCount"> </h3>
        </div>
        <div class="hint">
            <img src="/Content/images/base/hint1.jpg" />
            <div class="btn">
                <a href="#">重 置</a>
                <input type="button" onclick="search(1)" name="" value="搜 索" />
            </div>
        </div>
    </div>

    <div id="diamond">
        <ul class="c1">
            <li class="bg">
                <dl>
                    <dd >形状</dd>
                    <dd>重量</dd>
                    <dd>颜色</dd>
                    <dd>净度</dd>
                    <dd>切工</dd>
                    <dd>抛光</dd>
                    <dd>对称</dd>
                    <dd>荧光</dd>
                    <dd>尺寸</dd>
                    <dd>奶油</dd>
                    <dd>色度</dd>
                    @*<dd class="dd3">台面比</dd>
                    <dd class="dd3">深度比</dd>*@
                    <dd>证书</dd>
                    <dd class="dd2">证书号</dd>
                    <dd class="dd3">
                        价格
                        <div class="sort">
                            <a certificate="1" href="#"><img src="/Content/images/base/sort1.png" /></a>
                            <a certificate="3" href="#"><img src="/Content/images/base/sort3.png" /></a>
                            <a certificate="2" href="#"><img src="/Content/images/base/sort2.png" /></a>
                        </div>
                    </dd>
                    <dd class="dd6">订购</dd>
                </dl>
            </li>
            <div id="diamondSearch">

            </div>

        </ul>
    </div>
    <div class="pagination"></div>
</div>
<div class="diam-popover-mask" style="display: none;"></div>
