
@{
    ViewBag.Title = "全球裸钻查询表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="/Content/css/diamond.css" rel="stylesheet" />
    <script src="~/Scripts/FewMain/diamond.js"></script>
    <script src="/scripts/laypage/laypage.js"></script>
    <script>
        //搜索
        function search() {
            
            var color = [];
            var shape = [];
            var clarity = [];
            var cut = [];
            var polishing = [];
            var symmetry = [];
            var credentials = [];
            var fluorescence = [];
            $(".color").find(".hover").each(function () {
                color.push($(this).attr("value"));
            });
            $(".color").find(".hover").each(function () {
                color.push($(this).attr("value"));
            });
            $(".color").find(".hover").each(function () {
                color.push($(this).attr("value"));
            });
            $(".color").find(".hover").each(function () {
                color.push($(this).attr("value"));
            });
            $(".color").find(".hover").each(function () {
                color.push($(this).attr("value"));
            });
            $(".color").find(".hover").each(function () {
                color.push($(this).attr("value"));
            });
        }
        $(function () {
            bgChange();
            //分页脚本
            laypage({
                cont: $('.pagination'), //容器。值支持id名、原生dom对象，jquery对象,
                pages: 100, //总页数
                skip: true, //是否开启跳页
                skin: '#77C7C8',
                groups: 7 //连续显示分页数
            });
        })
    </script>
}
<div id="position"><div class="box">当前位置：<a href="javascript:;">全球裸钻查询</a> <span style="float:right;">美元汇率：<b style="color:#ff9900;">6.90</b></span></div></div>
<div class="main">
    <div id="diamond_search">

        <!--形状-->
        <div class="con">
            <h3 class="s_h3">形状</h3>
            <ul class="shape">
                <li name="shape" value="1"><span class="sh1">圆形</span></li>
                <li name="shape" value="2"><span class="sh2">公主方</span></li>
                <li name="shape" value="3"><span class="sh8">祖母绿</span></li>
                <li name="shape" value="4"><span class="sh6">雷蒂恩</span></li>
                <li name="shape" value="5"><span class="sh3">椭圆形</span></li>
                <li name="shape" value="6"><span class="sh9">梨形</span></li>
                <li name="shape" value="7"><span class="sh5">马眼形</span></li>
                <li name="shape" value="8"><span class="sh4">心形</span></li>
                <li name="shape" value="9"><span class="sh4">三角形</span></li>
                <li name="shape" value="10"><span class="sh7">垫形</span></li>
                <li name="shape" value="100"><span class="sh7">其他</span></li>
            </ul>
        </div>
        <!--颜色-->
        <div class="con">
            <h3>颜色</h3>
            <ul class="color">
                <li name="color" value="2">D</li>
                <li name="color" value="4">E</li>
                <li name="color" value="8">F</li>
                <li name="color" value="16">G</li>
                <li name="color" value="32">H</li>
                <li name="color" value="64">I</li>
                <li name="color" value="128">J</li>
                <li name="color" value="256">K</li>
                <li name="color" value="512">L</li>
                <li name="color" value="1024">M</li>
            </ul>
        </div>
        <!--净度-->
        <div class="con" style="width:53.68%;">
            <h3>净度</h3>
            <ul class="clarity">
                <li name="clarity" value="3">IF</li>
                <li name="clarity" value="4">VVS1</li>
                <li name="clarity" value="8">VVS2</li>
                <li name="clarity" value="16">VS1</li>
                <li name="clarity" value="32">VS2</li>
                <li name="clarity" value="64">SI1</li>
                <li name="clarity" value="128">SI2</li>
            </ul>
        </div>
        <div class="con width2">
            <h3>重量</h3>
            <input name="size1" type="text" value="0.3" /><font>ct</font><b></b>
            <input name="size2" type="text" value="18" /><font>ct</font>
        </div>
        <div class="clear"></div>
        <div class="con width">
            <h3>切工</h3>
            <ul class="cut">
                <li name="cut" value="2">EX </li>
                <li name="cut" value="4">VG</li>
                <li name="cut" value="8">GD</li>
            </ul>
        </div>
        <div class="con width">
            <h3>抛光</h3>
            <ul class="polishing">
                <li name="polishin" value="2">EX </li>
                <li name="polishin" value="4">VG</li>
                <li name="polishin" value="8">GD</li>
            </ul>
        </div>
        <div class="con width2">
            <h3>价格</h3>
            <input name="price1" type="text" value="1000" /><font>￥</font><b></b>
            <input name="price2" type="text" value="1000000" /><font>￥</font>
        </div>
        <div class="clear"></div>
        <div class="con width">
            <h3>对称</h3>
            <ul class="symmetric">
                <li name="symmetric" value="2">EX </li>
                <li name="symmetric" value="4">VG</li>
                <li name="symmetric" value="8">GD</li>
            </ul>
        </div>
        <div class="con width">
            <h3>证书</h3>
            <ul class="certificate">
                <li name="certificate" value="1" title="美国宝石学院">GIA</li>
                <li name="certificate" value="8" title="比利时高阶层钻石议会">HRD</li>
                <li name="certificate" value="4" title="国际宝石学院">IGI</li>
            </ul>
        </div>
        <div class="con width">
            <h3>证书号</h3><input name="number" type="text" value="" style="width: 246px;" />
        </div>
        <div class="clear"></div>
        <div class="con width3">
            <h3>荧光</h3>
            <ul class="symmetric fluorescence">
                <li name="fluorescence" value="1">N(无) </li>
                <li name="fluorescence" value="6">VSL/F(轻)</li>
                <li name="fluorescence" value="8">M(中)</li>
                <li name="fluorescence" value="16">S(强)</li>
            </ul>
        </div>
        <div class="con width4">
            <h3><label for="noNai">不咖不奶</label></h3><input name="number" id="noNai" type="checkbox" style="width: 20px; margin-top: 5px" value="" />
            <h3><label for="kaNoNai">浅咖不奶</label></h3><input name="number" type="checkbox" id="kaNoNai" style="width: 20px; margin-top: 5px" value="" />
            <h3><label for="outSide">在国外</label></h3><input name="number" type="checkbox" id="outSide" style="width: 20px; margin-top: 5px" value="" />
            <h3><label for="inSide">在香港</label></h3><input name="number" type="checkbox" id="inSide" style="width: 20px; margin-top: 5px" value="" />
            <h3><label for="inChina">在国内</label></h3><input name="number" type="checkbox" id="inChina" style="width: 20px; margin-top: 5px" value="" />
        </div>
        
        <div class="hint">
            <img src="/Content/images/base/hint1.jpg" />
            <div class="btn">
                <a href="#">重 置</a>
                <input type="button" onclick="search()" name="" value="搜 索" />
            </div>
        </div>
    </div>

    <div id="diamond">
        <ul class="c1">
            <li class="bg">
                <dl>
                    <dd>形状</dd>
                    <dd>重量</dd>
                    <dd>颜色</dd>
                    <dd>净度</dd>
                    <dd>切工</dd>
                    <dd>抛光</dd>
                    <dd>对称</dd>
                    <dd>荧光</dd>
                    <dd class="dd1">尺寸</dd>
                    <dd>奶油</dd>
                    <dd>色度</dd>
                    <dd class="dd3">台面比</dd>
                    <dd class="dd3">深度比</dd>
                    <dd>证书</dd>
                    <dd class="dd2">证书号</dd>
                    <dd class="dd3">
                        价格
                        <div class="sort">
                            <a certificate="1" href="#"><img src="/Content/images/base/sort1.png" /></a>
                            <a certificate="3" href="#"><img src="/Content/images/base/sort3.png" /></a>
                            <a certificate="2" href="#"><img src="/Content/images/base/sort2.png" /></a>
                        </div>
                    </dd>
                    <dd class="dd6">订购</dd>
                </dl>
            </li>

            <li>
                <dl>
                    <dd>
                        <img src="/Content/images/base/dz1.png" alt="钻石证书号：1238546149" />
                    </dd>
                    <dd>0.3</dd>
                    <dd>L</dd>
                    <dd>VS2</dd>
                    <dd>EX</dd>
                    <dd>EX</dd>
                    <dd>EX</dd>
                    <dd>
                        无
                    </dd>
                    <dd class="dd1">4.29x4.32x2.65</dd>
                    <dd>
                        无
                    </dd>
                    <dd>咖							</dd>
                    <dd class="dd3">59</dd>
                    <dd class="dd3">61.6</dd>
                    <dd>
                        <a href="http://www.gia.edu/cs/Satellite?pagename=GST%2FDispatcher&amp;childpagename=GIA%2FPage%2FReportCheck&amp;c=Page&amp;cid=1355954554547&amp;reportno=1238546149" target="_blank">GIA</a>

                    </dd>
                    <dd class="dd2">1238546149</dd>



                    <dd class="dd3">
                        2517
                    </dd>

                    <dd class="diam-buy dd6"><a class="diam-login" style="color:#f80;">查看</a></dd>
                    <div class="diam-popover" style="display: none;">
                        <div class="diam-poptit">
                            <a href="javascript:;" title="关闭" class="close">×</a>
                        </div>
                        <!-------------->

                        <div class="img">

                            <div class="diamon_img">
                                <img src="/Content/images/base/sh1.jpg" alt="钻石证书号：1238546149" />
                            </div>
                        </div>

                        <!--------->
                        <div class="cimg">
                            <img src="/Content/images/base/gia.jpg" />
                        </div>
                        <!--------->
                        <div class="con">
                            <p>
                                <font>形状</font>
                                <img src="/Content/images/base/dz1.png" />
                            </p>
                            <p>
                                <font>证书</font>
                                <a href="http://www.gia.edu/cs/Satellite?pagename=GST%2FDispatcher&amp;childpagename=GIA%2FPage%2FReportCheck&amp;c=Page&amp;cid=1355954554547&amp;reportno=1238546149" target="_blank">
                                    GIA <span style="color:#ccb17a;">证书查询</span>
                                </a>

                            </p>
                            <p>
                                <font>证书号</font>
                                <a href="http://www.gia.edu/cs/Satellite?pagename=GST%2FDispatcher&amp;childpagename=GIA%2FPage%2FReportCheck&amp;c=Page&amp;cid=1355954554547&amp;reportno=1238546149" target="_blank">1238546149</a>
                            </p>
                            <p><font>重量</font>0.3</p>
                            <p><font>颜色</font>L</p>
                            <p><font>净度</font>VS2</p>
                            <p><font>切工</font>EX</p>
                            <p><font>抛光</font>EX</p>
                            <p><font>对称</font>EX</p>
                            <p>
                                <font>荧光</font>
                                无
                            </p>
                            <p>
                                <font>奶油</font>
                                无
                            </p>
                            <p>
                                <font>色度</font>
                                咖
                            </p>
                            <p><font>台面比</font>59</p>
                            <p><font>深度比</font>61.6</p>
                            <p><font>尺寸</font>4.29x4.32x2.65</p>

                            <p><font>价格</font><span><b style="color:#ccb17a; font-size:14px;">￥2517</b></span></p>
                        </div>
                        <div class="dg"><a href="http://www.qydiamond.com/home/cart/diamond_cart/did/4337527.html">在线订购</a></div>
                    </div>
                </dl>
            </li>

            <li>
                <dl style="background: rgb(247, 247, 247);">
                    <dd>
                        <img src="/Content/images/base/dz1.png" alt="钻石证书号：5171751490" />
                    </dd>
                    <dd>0.3</dd>
                    <dd>I</dd>
                    <dd>SI2</dd>
                    <dd>EX</dd>
                    <dd>EX</dd>
                    <dd>EX</dd>
                    <dd>
                        无
                    </dd>
                    <dd class="dd1">4.36*4.33*2.65</dd>
                    <dd>
                        奶
                    </dd>
                    <dd>无							</dd>
                    <dd class="dd3">58</dd>
                    <dd class="dd3">60.9</dd>
                    <dd>
                        <a href="http://www.gia.edu/cs/Satellite?pagename=GST%2FDispatcher&amp;childpagename=GIA%2FPage%2FReportCheck&amp;c=Page&amp;cid=1355954554547&amp;reportno=5171751490" target="_blank">GIA</a>

                    </dd>
                    <dd class="dd2">5171751490</dd>



                    <dd class="dd3">
                        3478
                    </dd>

                    <dd class="diam-buy dd6"><a class="diam-login" style="color:#f80;">查看</a></dd>
                    <div class="diam-popover">
                        <div class="diam-poptit">
                            <a href="javascript:;" title="关闭" class="close">×</a>
                        </div>
                        <!-------------->

                        <div class="img">

                            <div class="diamon_img">
                                <img src="/Content/images//base/sh1.jpg" alt="钻石证书号：5171751490" />
                            </div>
                        </div>

                        <!--------->
                        <div class="cimg">
                            <img src="/Content/images/gia.jpg" />
                        </div>
                        <!--------->
                        <div class="con">
                            <p>
                                <font>形状</font>
                                <img src="/Content/images/base/dz1.png" />
                            </p>
                            <p>
                                <font>证书</font>
                                <a href="http://www.gia.edu/cs/Satellite?pagename=GST%2FDispatcher&amp;childpagename=GIA%2FPage%2FReportCheck&amp;c=Page&amp;cid=1355954554547&amp;reportno=5171751490" target="_blank">
                                    GIA <span style="color:#ccb17a;">证书查询</span>
                                </a>

                            </p>
                            <p>
                                <font>证书号</font>
                                <a href="http://www.gia.edu/cs/Satellite?pagename=GST%2FDispatcher&amp;childpagename=GIA%2FPage%2FReportCheck&amp;c=Page&amp;cid=1355954554547&amp;reportno=5171751490" target="_blank">5171751490</a>
                            </p>
                            <p><font>重量</font>0.3</p>
                            <p><font>颜色</font>I</p>
                            <p><font>净度</font>SI2</p>
                            <p><font>切工</font>EX</p>
                            <p><font>抛光</font>EX</p>
                            <p><font>对称</font>EX</p>
                            <p>
                                <font>荧光</font>
                                无
                            </p>
                            <p>
                                <font>奶油</font>
                                奶
                            </p>
                            <p>
                                <font>色度</font>
                                无
                            </p>
                            <p><font>台面比</font>58</p>
                            <p><font>深度比</font>60.9</p>
                            <p><font>尺寸</font>4.36*4.33*2.65</p>

                            <p><font>价格</font><span><b style="color:#ccb17a; font-size:14px;">￥3478</b></span></p>
                        </div>
                        <div class="dg"><a href="http://www.qydiamond.com/home/cart/diamond_cart/did/4393854.html">在线订购</a></div>
                    </div>
                </dl>
            </li>
        </ul>
    </div>
    <div class="pagination"></div>
</div>
<div class="diam-popover-mask" style="display: none;"></div>
 