
<div class="buy_cort">
    <!--购买页中间的左边图片-->
    <div class="buycort_left fl">
        <ul class="bc_left">
            <li class="li_border">
                <img src="~/Content/images/base/left_ring.jpg" />
            </li>

            <li>
                <img src="~/Content/images/base/left_ring.jpg" />
            </li>
            <li>
                <img src="~/Content/images/base/left_ring.jpg" />
            </li>
            <li>
                <img src="~/Content/images/base/left_ring.jpg" />
            </li>
            <li>
                <img src="~/Content/images/base/left_ring.jpg" />
            </li>
            <li>
                <img src="~/Content/images/base/left_ring.jpg" />
            </li>
        </ul>
        <!--上下按钮-->
        <div class="top"></div>
        <div class="bottom"></div>
    </div>
    <!--购买页中间的左边图片end-->
    <!--购买页中间的中间图片-->
    <div class="buycort_center fl">
        <ul class="ul_center">
            <li id="Magnifier1" style="display:block">

                <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
            </li>
            <li id="Magnifier2">
                <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
            </li>
            <li id="Magnifier3">
                <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
            </li>
            <li id="Magnifier4">
                <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
            </li>
            <li>
                <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
            </li>
            <li>
                <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
            </li>
        </ul>
        <div class="kzyl"></div>
        <!--右按钮-->
        <div class="big_next"></div>
        <!--收藏分享-->
        <div class="share">
            <span class="share_sc fl">收藏商品</span>
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style">
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_renren"></a>
                <a href="http://jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
        </div>
        <!--收藏分享end-->
    </div>
    <!--购买页中间的中间图片end-->
    <!--购买页中间的右边购买选项-->
    <div class="buycort_right fr">
        <!--钻戒-->
        <div class="byright_top">
            <p>Forever 永恒的爱[DNJ0061]</p>
            <p>
                <span>￥23600.00</span>
            </p>
            <div class="byright_top-xq">
                <i>最近售出：0</i>
                <i>用户评论：21</i>
                <i>收藏人气：103</i>
            </div>
        </div>
        <!--钻戒end-->
        <!--参数-->
        <ul class="byright_sec">
            <li>
                主钻重量(ct)：<span>0.5</span>
            </li>
            <li>
                钻石颜色(color)：<span>H</span>
            </li>
            <li>
                钻石净度(clarity)：<span>VS2</span>
            </li>
            <li>
                钻石切工(cut)：<span>3EX</span>
            </li>
        </ul>
        <!--参数end-->
        <!--选择材质刻字等-->
        <div class="byright_thr">
            <!--第一行-->
            <div class="thr_first">
                <span>材质：</span>
                <i class="iborder">18K白金</i>
                <i>PT950</i>
            </div>
            <!--第二行-->
            <div class="thr_first">
                <span>手寸：</span>
                <select>
                    <option>13</option>
                    <option>12</option>
                </select>
                <a href="#" target="_blank">如何测量?</a>
                <a href="#" target="_blank">联系客服</a>
            </div>
            <!--第三行-->
            <div class="thr_secound">
                <span>刻字：</span>
                <input type="text" placeholder="4个汉字或8个字母" id="ipt_1" />
                <i class="write_choose">&hearts;</i>
                <i class="write_choose">&amp;</i>
                <em class="ylxg">预览效果</em>
            </div>
        </div>
        <!--选择材质刻字等end-->
        <!--更多钻石搭配-->
        <p class="more_dp">更多钻石搭配:</p>
        <ul class="more_ul">
            <li class="moreul_sp">30分G色</li>
            <li>30分G色</li>
            <li>30分G色</li>
            <li>30分G色</li>
            <li>30分G色</li>
            <li>30分G色</li>
            <li>30分G色</li>
            <li>30分G色</li>
            <li>30分G色</li>
            <li class="choose_more">更多选择</li>
        </ul>
        <!--购买选项-->
        <div class="button buy_button">
            <div class="bt1"><span>加入购物车</span></div>
            <div class="bt2"><span>立即购买</span></div>
        </div>
    </div>
    <!--购买页中间的右边end-->
</div>