<div class="sy_xx">
    <!--商品详情-->
    <div class="thing_wrap cmain xqbuy_it" id="wrap" style="display:block">
        <!--参数详情加图片-->
        <div class="xq_it cmain">
            <!--参数显示-->
            <div class="border_cs">
                <table cellpadding="0" cellspacing="0" border="0" class="border_cs-table">
                    <tr>
                        <td class="border_cs-td1">款式信息</td>
                        <td class="border_cs-td2">
                            <span>产品编号：</span>
                            <em>DNJ0061</em>
                        </td>
                        <td class="border_cs-td3">
                            <span>证书类型：</span>
                            <em>GIA、国检</em>
                        </td>
                        <td class="border_cs-td4">
                            <span>金 重：</span>
                            <em>2.0</em>
                        </td>
                        <td class="border_cs-td5">
                            <span>材 质：</span>
                            <em>PT950</em>
                        </td>
                        <td class="border_cs-td6">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="border_cs-td1">钻石信息</td>
                        <td class="border_cs-td2">
                            <span>主钻重量：</span>
                            <em>0.5克拉</em>
                        </td>
                        <td class="border_cs-td3">
                            <span>副钻重量：</span>
                            <em>0.5克拉</em>
                        </td>
                        <td class="border_cs-td4">
                            <span>净 度：</span>
                            <em>VS2</em>
                        </td>
                        <td class="border_cs-td5">
                            <span>颜 色：</span>
                            <em>H</em>
                        </td>
                        <td class="border_cs-td6">
                            <span>切 工：</span>
                            <em>3EX</em>
                        </td>
                    </tr>
                </table>
            </div>
            <!--参数显示end-->
            <!--产品详情图片-->
            <div class="allphoto"></div>
            <!--产品详情图片end-->
        </div>
        <!--参数详情加图片end-->

    </div>
    <!--商品详情end-->
    <!--最新评论-->
    <!--评论页-->
    <div class="xq_it xqbuy_it cmain" id="wrap">
        <!--别人的评论-->
        <div class="talk_it">
            <!--new评论标题-->
            <div class="talkit_top">
                <div class="talktop_left">
                    最新评论
                </div>
            </div>
            <!--new评论标题end-->
            <!--评论数目-->
            <div class="talkit_top">
                <div class="bt2"><span>我要评论</span></div>
                <div class="talktop_left fr">
                    <span>共<i>54</i>条评论</span>
                    <em>|</em>
                    <span>1/14</span>
                    <span class="next_page">下一页</span>
                </div>
            </div>
            <!--评论数目end-->
            <!--每一条评论-->
            <div class="every_talk">
                <!--每一条评论左边-->
                <div class="evertalk_right fl">
                    <p>没在网上买过那么贵的东西，还真是不放心，还要定制时间！不过感谢客服那么耐心的回答，服务真是好！戒指收到了好漂亮~~太满意了！！</p>
                    <p><span>已购买商品：Forever 永恒的爱 80分 净度： VS2   颜色：H  切工：3EX </span></p>
                </div>
                <!--每一条评论左边end-->
                <!--每一条评论左边-->
                <div class="evertalk_left fr">
                    <!--选择-->
                    <p class="star">
                        <span>百搭</span>
                        <span>佩戴舒适</span>
                    </p>
                    <div class="name_date">
                        <p>曹立黎</p>
                        <p>2014/4/29 9:44:59</p>
                    </div>
                </div>
                <!--每一条评论左边end-->
            </div>
            <!--每一条评论end-->
            <!--每一条评论-->
            <div class="every_talk">
                <!--每一条评论左边-->
                <div class="evertalk_right fl">
                    <p>没在网上买过那么贵的东西，还真是不放心，还要定制时间！不过感谢客服那么耐心的回答，服务真是好！戒指收到了好漂亮~~太满意了！！</p>
                    <p><span>已购买商品：Forever 永恒的爱 80分 净度： VS2   颜色：H  切工：3EX </span></p>
                </div>
                <!--每一条评论左边end-->
                <!--每一条评论左边-->
                <div class="evertalk_left fr">
                    <!--选择-->
                    <p class="star">
                        <span>百搭</span>
                        <span>佩戴舒适</span>
                    </p>
                    <div class="name_date">
                        <p>曹立黎</p>
                        <p>2014/4/29 9:44:59</p>
                    </div>
                </div>
                <!--每一条评论左边end-->
            </div>
            <!--每一条评论end-->
            <!--每一条评论-->
            <div class="every_talk">
                <!--每一条评论左边-->
                <div class="evertalk_right fl">
                    <p>没在网上买过那么贵的东西，还真是不放心，还要定制时间！不过感谢客服那么耐心的回答，服务真是好！戒指收到了好漂亮~~太满意了！！</p>
                    <p><span>已购买商品：Forever 永恒的爱 80分 净度： VS2   颜色：H  切工：3EX </span></p>
                </div>
                <!--每一条评论左边end-->
                <!--每一条评论左边-->
                <div class="evertalk_left fr">
                    <!--选择-->
                    <p class="star">
                        <span>百搭</span>
                        <span>佩戴舒适</span>
                    </p>
                    <div class="name_date">
                        <p>曹立黎</p>
                        <p>2014/4/29 9:44:59</p>
                    </div>
                </div>
                <!--每一条评论左边end-->
            </div>
            <!--每一条评论end-->
            <!--每一条评论-->
            <div class="every_talk">
                <!--每一条评论左边-->
                <div class="evertalk_right fl">
                    <p>没在网上买过那么贵的东西，还真是不放心，还要定制时间！不过感谢客服那么耐心的回答，服务真是好！戒指收到了好漂亮~~太满意了！！</p>
                    <p><span>已购买商品：Forever 永恒的爱 80分 净度： VS2   颜色：H  切工：3EX </span></p>
                </div>
                <!--每一条评论左边end-->
                <!--每一条评论左边-->
                <div class="evertalk_left fr">
                    <!--选择-->
                    <p class="star">
                        <span>百搭</span>
                        <span>佩戴舒适</span>
                    </p>
                    <div class="name_date">
                        <p>曹立黎</p>
                        <p>2014/4/29 9:44:59</p>
                    </div>
                </div>
                <!--每一条评论左边end-->
            </div>
            <!--每一条评论end-->
        </div>
        <!--别人的评论end-->
        <!--分页-->
        <div class="paging_all">
            <div class="paging_all-cort ">

            </div>
        </div>
        <!--分页end-->
    </div>
    <!--评论页end-->
    <!--最新评论end-->
    <!--如何购买-->
    <div class="xq_it xqbuy_it cmain" id="wrap">

    </div>
    <!--如何购买end-->
    <!--常见问答-->
    <div class="xq_it xqbuy_it cmain" id="wrap">
        <!--提问-->
        <div class="talk_it">
            <!--new提问标题-->
            <div class="talkit_top">
                <div class="talktop_left">
                    常见问答
                </div>
            </div>
            <!--new评论标题end-->
            <!--评论数目-->
            <div class="talkit_top">
                <div class="bt2"><span>我要提问</span></div>
                <div class="talktop_left fr">
                    <span>共<i>54</i>条问答</span>
                    <em>|</em>
                    <span>1/14</span>
                    <span class="next_page">下一页</span>
                </div>
            </div>
            <!--评论数目end-->
            <!--每一条评论-->
            <div class="every_talk">
                <!--每一条评论左边-->
                <div class="question_left fl">
                    <p>
                        <i></i>
                        <span>是否有实体店？</span>
                    </p>
                    <p class="answer">
                        <i></i>
                        <span>DR公司总部是在香港，目前内地深圳南山区设有实体店，支持到店订购，也支持全国在线官网订购。同时目前其他一线城市公司已在考察阶段中，会陆续开设店面</span>
                    </p>
                </div>
                <!--每一条评论左边end-->
                <!--每一条评论右边-->
                <div class="question_right fr">
                    <p>该问答是否对您有帮助？<span>(194)是</span> <span>(73)否</span></p>
                </div>
                <!--每一条评论右边end-->
            </div>
            <!--每一条评论end-->
            <!--联系客服-->
            <div class="talkit_bottom">
                <div class="talkit_top-lx fr">
                    <span class="fl">更多疑问咨询请联系我们，欢迎留下您宝贵的意见。</span>
                    <div class="bt2"><span>联系客服</span></div>
                </div>
            </div>
            <!--联系客服end-->
        </div>
    </div>
    <!--常见问答end-->
    <!--常见问答-->
    <div class="xq_it xqbuy_it cmain" id="wrap">

    </div>
    <!--售后服务end-->
</div>
