<div class="thesearch_jg">
    <!--高级搜索-->
    <div class="gj_search od1" style="display:none">
        <div class="ser_top">
            <h3 class="fl">钻石个性搭配</h3>
            <img src="/Content/images/base/close.png" width="61" height="15" class="toclose fr" />
        </div>
        <!--搜索框内-->
        <div class="all_search">
            <!--价格拉动-->
            <div class="thepirce">
                <!--价格拉动左边-->
                <div class="spline fl">
                    <span class="word_right fl">预算</span>
                    <div class="tz_border fl">
                        <i class="the_pirce"></i>
                        <input type="text" />
                        <em>元-</em>
                        <input type="text" />
                        <em>元</em>
                    </div>
                </div>
                <!--价格拉动左边end-->
                <!--价格拉动右边-->
                <div class="spline fr">
                    <span class="word_right fl">钻重</span>
                    <div class="tz_border fl">
                        <i class="the_zzhong"></i>
                        <input type="text" />
                        <em>克拉-</em>
                        <input type="text" />
                        <em>克拉</em>
                    </div>
                </div>
                <!--价格拉动右边end-->
            </div>
            <!--价格拉动end-->
            <!--颜色净度-->
            <div class="color_jd fix">
                <!--颜色净度左边-->
                <div class="the_color fl">
                    <span class="fl">颜色</span>
                    <div class="color_cs fl">
                        <b>
                            <i>D</i>
                            <em>完全无色, 属于最高级别, 极其稀有，具有一定收藏价值。</em>
                        </b>
                        <b>
                            <i>E</i>
                            <em>无色。只有钻石鉴定专家才能检测到微量颜色，非常稀有。</em>
                        </b>
                        <b>
                            <i>F</i>
                            <em>无色。少量的颜色仅珠宝专家可以检测到，属高品质钻石。</em>
                        </b>
                        <b>
                            <i class="zs2">G</i>
                            <em>接近无色。和高色级钻石比较,有轻微颜色,有较高价值。</em>
                        </b>
                        <b>
                            <i class="zs3">H</i>
                            <em>接近无色。和高色级钻石比较时，有轻微的颜色。</em>
                        </b>
                        <b>
                            <i class="zs4">I</i>
                            <em>接近无色。可检测到轻微的颜色。</em>
                        </b>
                        <b>
                            <i class="zs5">J</i>
                            <em>可检测到轻微的颜色。</em>
                        </b>
                        <b>
                            <i class="zs6">K</i>
                            <em>颜色较深，火彩差。Darry Ring不采用此等级钻石。</em>
                        </b>
                    </div>
                </div>
                <!--颜色净度左边end-->
                <!--颜色净度左边-->
                <div class="the_color fr">
                    <span class="fl">净度</span>
                    <div class="clear_cs fl">
                        <b>
                            <i>IF</i>
                            <em>内无瑕级,10倍放大镜下观察,没有任何内含物或表面特征。</em>
                        </b>
                        <b>
                            <i>VVS1</i>
                            <em>极轻微内含级,10倍放大镜下,可见内部仅有极微小内含物。</em>
                        </b>
                        <b>
                            <i>VVS2</i>
                            <em>极轻微内含级,10倍放大镜下,可见内部极微小内含物。</em>
                        </b>
                        <b>
                            <i>VS1</i>
                            <em>轻微内含级,10倍放大镜下,可见内部仅有微小内含物。</em>
                        </b>
                        <b>
                            <i>VS2</i>
                            <em>轻微内含级,10倍放大镜下,可见内部有微小的内含物。</em>
                        </b>
                        <b>
                            <i>SI1</i>
                            <em>微内含级，在10倍放大镜下观察，钻石有可见的微内含物。</em>
                        </b>
                        <b>
                            <i>SI2</i>
                            <em>微内含级，在10倍放大镜下观察，钻石有可见的内含物。</em>
                        </b>
                    </div>
                </div>
                <!--颜色净度左边end-->
            </div>
            <!--颜色净度end-->
            <!--切工对称-->
            <div class="color_jd fix">
                <!--切工左边-->
                <div class="the_color fl">
                    <span class="fl">切工</span>
                    <div class="the_qg fl">
                        <b>
                            <i>Ideal</i>
                            <em>完美切工，仅3%的一流高质量钻石才能达到的标准。</em>
                        </b>
                        <b>
                            <i>EX</i>
                            <em>极优切工，仅3%的一流高质量钻石才能达到的标准。</em>
                        </b>
                        <b>
                            <i>VG</i>
                            <em>优良切工，仅大约15%的钻石才能达到的标准。</em>
                        </b>
                        <b>
                            <i>GD</i>
                            <em>良好切工，Darry Ring不采用此等级切工。</em>
                        </b>
                        <b>
                            <i>Fair</i>
                            <em>尚可切工，Darry Ring不采用此等级切工。</em>
                        </b>
                    </div>
                </div>
                <!--切工左边end-->
                <!--对称右边-->
                <div class="the_color fr">
                    <span class="fl">对称</span>
                    <div class="the_dc fl">
                        <b>
                            <i>EX</i>
                            <em>完美，钻石的各切面的排列达到完美标准。</em>
                        </b>
                        <b>
                            <i>VG</i>
                            <em>很好，钻石的各切面的排列比较好。</em>
                        </b>
                        <b>
                            <i>GD</i>
                            <em>好，Darry Ring不采用此类钻石。</em>
                        </b>
                        <b>
                            <i>Fair</i>
                            <em>尚可，Darry Ring不采用此类钻石。</em>
                        </b>
                    </div>
                </div>
                <!--对称右边end-->
            </div>
            <!--切工对称end-->
            <!--抛光荧光-->
            <div class="color_jd fix">
                <!--抛光左边-->
                <div class="the_color fl">
                    <span class="fl">抛光</span>
                    <div class="the_yg fl">
                        <b>
                            <i>EX</i>
                            <em>优，钻石抛光的光滑度达到完美标准。</em>
                        </b>
                        <b>
                            <i>VG</i>
                            <em>很好，钻石抛光的光滑度比较好。</em>
                        </b>
                        <b>
                            <i>GD</i>
                            <em>好，Darry Ring不采用此类钻石。</em>
                        </b>
                        <b>
                            <i>Fair</i>
                            <em>尚可，Darry Ring不采用此类钻石。</em>
                        </b>
                    </div>
                </div>
                <!--抛光左边end-->
                <!--荧光右边-->
                <div class="the_color fr">
                    <span class="fl">荧光</span>
                    <div class="the_yg fl">
                        <b>
                            <i>NON</i>
                            <em>无荧光。在专业紫外线镜下检测无荧光。</em>
                        </b>
                        <b>
                            <i>FNT</i>
                            <em>弱荧光。在专业紫外线镜下检测可见弱荧光。</em>
                        </b>
                        <b>
                            <i>MED</i>
                            <em>中荧光。在专业紫外线镜下检测可见中荧光。</em>
                        </b>
                        <b>
                            <i>STG</i>
                            <em>强荧光。在专业紫外线镜下检测可见强荧光。</em>
                        </b>
                    </div>
                </div>
                <!--荧光右边end-->
            </div>
            <!--抛光荧光end-->
            <div class="fix">
                <!--立即搜索-->
                <div class="toserach sp_toserach fl">
                    <div class="the_ljss fl"><span>立即搜索</span></div>
                    <div class="the_cz fl"><span>重置</span></div>
                </div>
                <!--立即搜索end-->
            </div>
        </div>
        <!--搜索框end-->
        <!--搜索结果-->
        <div class="serach_bottom">
            <div class="result_top">
                <h4>搜索结果</h4>
            </div>
            <!--筛选-->
            <div class="thb_bottom">
                <div class="hot-ks thesearch fl">
                    <span class="other_color">
                        <i>价格</i><em></em>
                    </span>
                    <span>
                        <i>钻重</i><em></em>
                    </span>
                    <span>
                        <i>颜色</i><em></em>
                    </span>
                    <span>
                        <i>净度</i><em></em>
                    </span>
                    <span>
                        <i>切工</i><em></em>
                    </span>
                </div>
                <p class="fr"><span>共找到商品</span><i>1000</i><span>颗</span></p>
            </div>
            <!--筛选end-->
            <!--筛选列表-->
            <ul class="result">
                <li>
                    <!--列表左边-->
                    <div class="result_left fl">
                        <span>商品编号</span>
                        <i>00443764</i>
                        <em>|</em>
                        <span>钻重</span>
                        <i>0.51</i>
                        <em>|</em>
                        <span>颜色</span>
                        <i>F</i>
                        <em>|</em>
                        <span>净度</span>
                        <i>VS2</i>
                        <em>|</em>
                        <span>切工</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>对称</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>抛光</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>荧光</span>
                        <i>EX</i>
                        <em>|</em>
                        <i class="red_i">钻戒价格</i>
                        <i class="red_i">￥23600.00</i>
                    </div>
                    <!--列表左边end-->
                    <div class="result_right fbuy">> 立即购买</div>
                </li>
                <li>
                    <!--列表左边-->
                    <div class="result_left fl">
                        <span>商品编号</span>
                        <i>00443764</i>
                        <em>|</em>
                        <span>钻重</span>
                        <i>0.51</i>
                        <em>|</em>
                        <span>颜色</span>
                        <i>F</i>
                        <em>|</em>
                        <span>净度</span>
                        <i>VS2</i>
                        <em>|</em>
                        <span>切工</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>对称</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>抛光</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>荧光</span>
                        <i>EX</i>
                        <em>|</em>
                        <i class="red_i">钻戒价格</i>
                        <i class="red_i">￥23600.00</i>
                    </div>
                    <!--列表左边end-->
                    <div class="result_right  fbuy">> 立即购买</div>
                </li>
                <li>
                    <!--列表左边-->
                    <div class="result_left fl">
                        <span>商品编号</span>
                        <i>00443764</i>
                        <em>|</em>
                        <span>钻重</span>
                        <i>0.51</i>
                        <em>|</em>
                        <span>颜色</span>
                        <i>F</i>
                        <em>|</em>
                        <span>净度</span>
                        <i>VS2</i>
                        <em>|</em>
                        <span>切工</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>对称</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>抛光</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>荧光</span>
                        <i>EX</i>
                        <em>|</em>
                        <i class="red_i">钻戒价格</i>
                        <i class="red_i">￥23600.00</i>
                    </div>
                    <!--列表左边end-->
                    <div class="result_right  fbuy">> 立即购买</div>
                </li>
                <li>
                    <!--列表左边-->
                    <div class="result_left fl">
                        <span>商品编号</span>
                        <i>00443764</i>
                        <em>|</em>
                        <span>钻重</span>
                        <i>0.51</i>
                        <em>|</em>
                        <span>颜色</span>
                        <i>F</i>
                        <em>|</em>
                        <span>净度</span>
                        <i>VS2</i>
                        <em>|</em>
                        <span>切工</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>对称</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>抛光</span>
                        <i>EX</i>
                        <em>|</em>
                        <span>荧光</span>
                        <i>EX</i>
                        <em>|</em>
                        <i class="red_i">钻戒价格</i>
                        <i class="red_i">￥23600.00</i>
                    </div>
                    <!--列表左边end-->
                    <div class="result_right  fbuy">> 立即购买</div>
                </li>
            </ul>
            <!--筛选列表end-->
            <!--分页-->
            <div class="paging_all paging_all_search">

            </div>
            <!--分页end-->
        </div>
        <!--搜索结果end-->
    </div>
    <!--高级搜索end-->
</div>
