
@{
    ViewBag.Title = "DiamondDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{

    <link href="~/Content/css/product/dr.css" rel="stylesheet"/>
    <script src="~/Scripts/product/buy_xq.js"></script>
    <script src="~/Scripts/product/fd_hd.js"></script>
    <script src="~/Scripts/product/Magnifier.js"></script>
    <script src="~/Scripts/FewMain/common.base.js"></script>
    <script src="~/Scripts/layer-v3.0.1/layer/layer.js"></script>
    <script src="~/Scripts/product/diapro.js"></script>
    <script src="~/Scripts/laypage/laypage.js"></script>
    <script>
        $(function() {
            //分页脚本
            laypage({
                cont: $('.paging_all_search'), //容器。值支持id名、原生dom对象，jquery对象,
                pages: 100, //总页数
                skip: true, //是否开启跳页
                skin: '#77C7C8',
                groups: 7 //连续显示分页数
            });

            laypage({
                cont: $('.paging_all-cort'), //容器。值支持id名、原生dom对象，jquery对象,
                pages: 100, //总页数
                skip: true, //是否开启跳页
                skin: '#77C7C8',
                groups: 7 //连续显示分页数
            });
        });
    </script>
}
<div class="cort">
    <div class="tobuy cmain">
        <div class="zbk_top spalid">
            <span>您当前的位置：</span>
            <a href="index.html" target="_blank">网站首页</a>
            <em>></em>
            <span>求婚钻戒</span>
        </div>
        <!--购买页中间-->
        <div class="buy_cort">
            <!--购买页中间的左边图片-->
            <div class="buycort_left fl">
                <ul class="bc_left">
                    <li class="li_border">
                        <img src="~/Content/images/base/left_ring.jpg" />
                    </li>
                    
                    <li>
                        <img src="~/Content/images/base/left_ring.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/images/base/left_ring.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/images/base/left_ring.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/images/base/left_ring.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/images/base/left_ring.jpg" />
                    </li>
                </ul>
                <!--上下按钮-->
                <div class="top"></div>
                <div class="bottom"></div>
            </div>
            <!--购买页中间的左边图片end-->
            <!--购买页中间的中间图片-->
            <div class="buycort_center fl">
                <ul class="ul_center">
                    <li id="Magnifier1" style="display:block">
                      
                        <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
                    </li>
                    <li id="Magnifier2">
                        <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
                    </li>
                    <li id="Magnifier3">
                        <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
                    </li>
                    <li id="Magnifier4">
                        <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
                    </li>
                    <li>
                        <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
                    </li>
                    <li>
                        <img src="/Content/images/base/big_ring.jpg" width="400" height="400" />
                    </li>
                </ul>
                <div class="kzyl"></div>
                <!--右按钮-->
                <div class="big_next"></div>
                <!--收藏分享-->
                <div class="share">
                    <span class="share_sc fl">收藏商品</span>
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                    <!-- JiaThis Button END -->
                </div>
                <!--收藏分享end-->
            </div>
            <!--购买页中间的中间图片end-->
            <!--购买页中间的右边购买选项-->
            <div class="buycort_right fr">
                <!--钻戒-->
                <div class="byright_top">
                    <p>Forever 永恒的爱[DNJ0061]</p>
                    <p>
                        <span>￥23600.00</span>
                    </p>
                    <div class="byright_top-xq">
                        <i>最近售出：0</i>
                        <i>用户评论：21</i>
                        <i>收藏人气：103</i>
                    </div>
                </div>
                <!--钻戒end-->
                <!--参数-->
                <ul class="byright_sec">
                    <li>
                        主钻重量(ct)：<span>0.5</span>
                    </li>
                    <li>
                        钻石颜色(color)：<span>H</span>
                    </li>
                    <li>
                        钻石净度(clarity)：<span>VS2</span>
                    </li>
                    <li>
                        钻石切工(cut)：<span>3EX</span>
                    </li>
                </ul>
                <!--参数end-->
                <!--选择材质刻字等-->
                <div class="byright_thr">
                    <!--第一行-->
                    <div class="thr_first">
                        <span>材质：</span>
                        <i class="iborder">18K白金</i>
                        <i>PT950</i>
                    </div>
                    <!--第二行-->
                    <div class="thr_first">
                        <span>手寸：</span>
                        <select>
                            <option>13</option>
                            <option>12</option>
                        </select>
                        <a href="#" target="_blank">如何测量?</a>
                        <a href="#" target="_blank">联系客服</a>
                    </div>
                    <!--第三行-->
                    <div class="thr_secound">
                        <span>刻字：</span>
                        <input type="text" placeholder="4个汉字或8个字母" id="ipt_1" />
                        <i class="write_choose">&hearts;</i>
                        <i class="write_choose">&amp;</i>
                        <em class="ylxg">预览效果</em>
                    </div>
                </div>
                <!--选择材质刻字等end-->
                <!--更多钻石搭配-->
                <p class="more_dp">更多钻石搭配:</p>
                <ul class="more_ul">
                    <li class="moreul_sp">30分G色</li>
                    <li>30分G色</li>
                    <li>30分G色</li>
                    <li>30分G色</li>
                    <li>30分G色</li>
                    <li>30分G色</li>
                    <li>30分G色</li>
                    <li>30分G色</li>
                    <li>30分G色</li>
                    <li class="choose_more">更多选择</li>
                </ul>
                <!--购买选项-->
                <div class="button buy_button">
                    <div class="bt1"><span>加入购物车</span></div>
                    <div class="bt2"><span>立即购买</span></div>
                </div>
            </div>
            <!--购买页中间的右边end-->
        </div>
        <!--购买页中间end-->
    </div>
    <!--高级搜索-->
    <div class="thesearch_jg">
        <!--高级搜索-->
        <div class="gj_search od1" style="display:none">
            <div class="ser_top">
                <h3 class="fl">钻石个性搭配</h3>
                <img src="/Content/images/base/close.png" width="61" height="15" class="toclose fr" />
            </div>
            <!--搜索框内-->
            <div class="all_search">
                <!--价格拉动-->
                <div class="thepirce">
                    <!--价格拉动左边-->
                    <div class="spline fl">
                        <span class="word_right fl">预算</span>
                        <div class="tz_border fl">
                            <i class="the_pirce"></i>
                            <input type="text" />
                            <em>元-</em>
                            <input type="text" />
                            <em>元</em>
                        </div>
                    </div>
                    <!--价格拉动左边end-->
                    <!--价格拉动右边-->
                    <div class="spline fr">
                        <span class="word_right fl">钻重</span>
                        <div class="tz_border fl">
                            <i class="the_zzhong"></i>
                            <input type="text" />
                            <em>克拉-</em>
                            <input type="text" />
                            <em>克拉</em>
                        </div>
                    </div>
                    <!--价格拉动右边end-->
                </div>
                <!--价格拉动end-->
                <!--颜色净度-->
                <div class="color_jd fix">
                    <!--颜色净度左边-->
                    <div class="the_color fl">
                        <span class="fl">颜色</span>
                        <div class="color_cs fl">
                            <b>
                                <i>D</i>
                                <em>完全无色, 属于最高级别, 极其稀有，具有一定收藏价值。</em>
                            </b>
                            <b>
                                <i>E</i>
                                <em>无色。只有钻石鉴定专家才能检测到微量颜色，非常稀有。</em>
                            </b>
                            <b>
                                <i>F</i>
                                <em>无色。少量的颜色仅珠宝专家可以检测到，属高品质钻石。</em>
                            </b>
                            <b>
                                <i class="zs2">G</i>
                                <em>接近无色。和高色级钻石比较,有轻微颜色,有较高价值。</em>
                            </b>
                            <b>
                                <i class="zs3">H</i>
                                <em>接近无色。和高色级钻石比较时，有轻微的颜色。</em>
                            </b>
                            <b>
                                <i class="zs4">I</i>
                                <em>接近无色。可检测到轻微的颜色。</em>
                            </b>
                            <b>
                                <i class="zs5">J</i>
                                <em>可检测到轻微的颜色。</em>
                            </b>
                            <b>
                                <i class="zs6">K</i>
                                <em>颜色较深，火彩差。Darry Ring不采用此等级钻石。</em>
                            </b>
                        </div>
                    </div>
                    <!--颜色净度左边end-->
                    <!--颜色净度左边-->
                    <div class="the_color fr">
                        <span class="fl">净度</span>
                        <div class="clear_cs fl">
                            <b>
                                <i>IF</i>
                                <em>内无瑕级,10倍放大镜下观察,没有任何内含物或表面特征。</em>
                            </b>
                            <b>
                                <i>VVS1</i>
                                <em>极轻微内含级,10倍放大镜下,可见内部仅有极微小内含物。</em>
                            </b>
                            <b>
                                <i>VVS2</i>
                                <em>极轻微内含级,10倍放大镜下,可见内部极微小内含物。</em>
                            </b>
                            <b>
                                <i>VS1</i>
                                <em>轻微内含级,10倍放大镜下,可见内部仅有微小内含物。</em>
                            </b>
                            <b>
                                <i>VS2</i>
                                <em>轻微内含级,10倍放大镜下,可见内部有微小的内含物。</em>
                            </b>
                            <b>
                                <i>SI1</i>
                                <em>微内含级，在10倍放大镜下观察，钻石有可见的微内含物。</em>
                            </b>
                            <b>
                                <i>SI2</i>
                                <em>微内含级，在10倍放大镜下观察，钻石有可见的内含物。</em>
                            </b>
                        </div>
                    </div>
                    <!--颜色净度左边end-->
                </div>
                <!--颜色净度end-->
                <!--切工对称-->
                <div class="color_jd fix">
                    <!--切工左边-->
                    <div class="the_color fl">
                        <span class="fl">切工</span>
                        <div class="the_qg fl">
                            <b>
                                <i>Ideal</i>
                                <em>完美切工，仅3%的一流高质量钻石才能达到的标准。</em>
                            </b>
                            <b>
                                <i>EX</i>
                                <em>极优切工，仅3%的一流高质量钻石才能达到的标准。</em>
                            </b>
                            <b>
                                <i>VG</i>
                                <em>优良切工，仅大约15%的钻石才能达到的标准。</em>
                            </b>
                            <b>
                                <i>GD</i>
                                <em>良好切工，Darry Ring不采用此等级切工。</em>
                            </b>
                            <b>
                                <i>Fair</i>
                                <em>尚可切工，Darry Ring不采用此等级切工。</em>
                            </b>
                        </div>
                    </div>
                    <!--切工左边end-->
                    <!--对称右边-->
                    <div class="the_color fr">
                        <span class="fl">对称</span>
                        <div class="the_dc fl">
                            <b>
                                <i>EX</i>
                                <em>完美，钻石的各切面的排列达到完美标准。</em>
                            </b>
                            <b>
                                <i>VG</i>
                                <em>很好，钻石的各切面的排列比较好。</em>
                            </b>
                            <b>
                                <i>GD</i>
                                <em>好，Darry Ring不采用此类钻石。</em>
                            </b>
                            <b>
                                <i>Fair</i>
                                <em>尚可，Darry Ring不采用此类钻石。</em>
                            </b>
                        </div>
                    </div>
                    <!--对称右边end-->
                </div>
                <!--切工对称end-->
                <!--抛光荧光-->
                <div class="color_jd fix">
                    <!--抛光左边-->
                    <div class="the_color fl">
                        <span class="fl">抛光</span>
                        <div class="the_yg fl">
                            <b>
                                <i>EX</i>
                                <em>优，钻石抛光的光滑度达到完美标准。</em>
                            </b>
                            <b>
                                <i>VG</i>
                                <em>很好，钻石抛光的光滑度比较好。</em>
                            </b>
                            <b>
                                <i>GD</i>
                                <em>好，Darry Ring不采用此类钻石。</em>
                            </b>
                            <b>
                                <i>Fair</i>
                                <em>尚可，Darry Ring不采用此类钻石。</em>
                            </b>
                        </div>
                    </div>
                    <!--抛光左边end-->
                    <!--荧光右边-->
                    <div class="the_color fr">
                        <span class="fl">荧光</span>
                        <div class="the_yg fl">
                            <b>
                                <i>NON</i>
                                <em>无荧光。在专业紫外线镜下检测无荧光。</em>
                            </b>
                            <b>
                                <i>FNT</i>
                                <em>弱荧光。在专业紫外线镜下检测可见弱荧光。</em>
                            </b>
                            <b>
                                <i>MED</i>
                                <em>中荧光。在专业紫外线镜下检测可见中荧光。</em>
                            </b>
                            <b>
                                <i>STG</i>
                                <em>强荧光。在专业紫外线镜下检测可见强荧光。</em>
                            </b>
                        </div>
                    </div>
                    <!--荧光右边end-->
                </div>
                <!--抛光荧光end-->
                <div class="fix">
                    <!--立即搜索-->
                    <div class="toserach sp_toserach fl">
                        <div class="the_ljss fl"><span>立即搜索</span></div>
                        <div class="the_cz fl"><span>重置</span></div>
                    </div>
                    <!--立即搜索end-->
                </div>
            </div>
            <!--搜索框end-->
            <!--搜索结果-->
            <div class="serach_bottom">
                <div class="result_top">
                    <h4>搜索结果</h4>
                </div>
                <!--筛选-->
                <div class="thb_bottom">
                    <div class="hot-ks thesearch fl">
                        <span class="other_color">
                            <i>价格</i><em></em>
                        </span>
                        <span>
                            <i>钻重</i><em></em>
                        </span>
                        <span>
                            <i>颜色</i><em></em>
                        </span>
                        <span>
                            <i>净度</i><em></em>
                        </span>
                        <span>
                            <i>切工</i><em></em>
                        </span>
                    </div>
                    <p class="fr"><span>共找到商品</span><i>1000</i><span>颗</span></p>
                </div>
                <!--筛选end-->
                <!--筛选列表-->
                <ul class="result">
                    <li>
                        <!--列表左边-->
                        <div class="result_left fl">
                            <span>商品编号</span>
                            <i>00443764</i>
                            <em>|</em>
                            <span>钻重</span>
                            <i>0.51</i>
                            <em>|</em>
                            <span>颜色</span>
                            <i>F</i>
                            <em>|</em>
                            <span>净度</span>
                            <i>VS2</i>
                            <em>|</em>
                            <span>切工</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>对称</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>抛光</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>荧光</span>
                            <i>EX</i>
                            <em>|</em>
                            <i class="red_i">钻戒价格</i>
                            <i class="red_i">￥23600.00</i>
                        </div>
                        <!--列表左边end-->
                        <div class="result_right fbuy">> 立即购买</div>
                    </li>
                    <li>
                        <!--列表左边-->
                        <div class="result_left fl">
                            <span>商品编号</span>
                            <i>00443764</i>
                            <em>|</em>
                            <span>钻重</span>
                            <i>0.51</i>
                            <em>|</em>
                            <span>颜色</span>
                            <i>F</i>
                            <em>|</em>
                            <span>净度</span>
                            <i>VS2</i>
                            <em>|</em>
                            <span>切工</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>对称</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>抛光</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>荧光</span>
                            <i>EX</i>
                            <em>|</em>
                            <i class="red_i">钻戒价格</i>
                            <i class="red_i">￥23600.00</i>
                        </div>
                        <!--列表左边end-->
                        <div class="result_right  fbuy">> 立即购买</div>
                    </li>
                    <li>
                        <!--列表左边-->
                        <div class="result_left fl">
                            <span>商品编号</span>
                            <i>00443764</i>
                            <em>|</em>
                            <span>钻重</span>
                            <i>0.51</i>
                            <em>|</em>
                            <span>颜色</span>
                            <i>F</i>
                            <em>|</em>
                            <span>净度</span>
                            <i>VS2</i>
                            <em>|</em>
                            <span>切工</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>对称</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>抛光</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>荧光</span>
                            <i>EX</i>
                            <em>|</em>
                            <i class="red_i">钻戒价格</i>
                            <i class="red_i">￥23600.00</i>
                        </div>
                        <!--列表左边end-->
                        <div class="result_right  fbuy">> 立即购买</div>
                    </li>
                    <li>
                        <!--列表左边-->
                        <div class="result_left fl">
                            <span>商品编号</span>
                            <i>00443764</i>
                            <em>|</em>
                            <span>钻重</span>
                            <i>0.51</i>
                            <em>|</em>
                            <span>颜色</span>
                            <i>F</i>
                            <em>|</em>
                            <span>净度</span>
                            <i>VS2</i>
                            <em>|</em>
                            <span>切工</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>对称</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>抛光</span>
                            <i>EX</i>
                            <em>|</em>
                            <span>荧光</span>
                            <i>EX</i>
                            <em>|</em>
                            <i class="red_i">钻戒价格</i>
                            <i class="red_i">￥23600.00</i>
                        </div>
                        <!--列表左边end-->
                        <div class="result_right  fbuy">> 立即购买</div>
                    </li>
                </ul>
                <!--筛选列表end-->
                <!--分页-->
                <div class="paging_all paging_all_search">

                </div>
                <!--分页end-->
            </div>
            <!--搜索结果end-->
        </div>
        <!--高级搜索end-->
    </div>
    <!--高级搜索end-->
    <div class="buy_ks cmain">
        <!--推荐款式-->
        <div class="ks_tj">
            <div class="kstj_top">
                <span>同系列推荐</span>
                <i>购买求婚钻戒后,即可购买以下商品</i>
            </div>
            <div class="kstj_center">
                <ul class="tjks_ul">
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>

                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pre"></div>
            <div class="next"></div>
        </div>
        <!--推荐款式end-->
    </div>
    <!--小导航-->
    <div class="allthenav">
        <!--导航-->
        <div class="gd_nav">
            <ul class="gdnav_ul">
                <li class="gdnav_sp">
                    <span>商品详情</span>
                </li>
                <li>
                    <span>最新评论<em>(500)</em></span>
                </li>
                <li>
                    <span>如何购买</span>
                </li>
                <li>
                    <span>常见问答</span>
                </li>
                <li>
                    <span>售后服务</span>
                </li>
            </ul>
        </div>
        <!--导航end-->
        <!--导航下的线条-->
        <div class="gd_nav-line"></div>
        <!--导航下的线条end-->
    </div>
    <!--小导航end-->
    <!--导航下的所有-->
    <div class="sy_xx">
        <!--商品详情-->
        <div class="thing_wrap cmain xqbuy_it" id="wrap" style="display:block">
            <!--参数详情加图片-->
            <div class="xq_it cmain">
                <!--参数显示-->
                <div class="border_cs">
                    <table cellpadding="0" cellspacing="0" border="0" class="border_cs-table">
                        <tr>
                            <td class="border_cs-td1">款式信息</td>
                            <td class="border_cs-td2">
                                <span>产品编号：</span>
                                <em>DNJ0061</em>
                            </td>
                            <td class="border_cs-td3">
                                <span>证书类型：</span>
                                <em>GIA、国检</em>
                            </td>
                            <td class="border_cs-td4">
                                <span>金 重：</span>
                                <em>2.0</em>
                            </td>
                            <td class="border_cs-td5">
                                <span>材 质：</span>
                                <em>PT950</em>
                            </td>
                            <td class="border_cs-td6">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="border_cs-td1">钻石信息</td>
                            <td class="border_cs-td2">
                                <span>主钻重量：</span>
                                <em>0.5克拉</em>
                            </td>
                            <td class="border_cs-td3">
                                <span>副钻重量：</span>
                                <em>0.5克拉</em>
                            </td>
                            <td class="border_cs-td4">
                                <span>净 度：</span>
                                <em>VS2</em>
                            </td>
                            <td class="border_cs-td5">
                                <span>颜 色：</span>
                                <em>H</em>
                            </td>
                            <td class="border_cs-td6">
                                <span>切 工：</span>
                                <em>3EX</em>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--参数显示end-->
                <!--产品详情图片-->
                <div class="allphoto"></div>
                <!--产品详情图片end-->
            </div>
            <!--参数详情加图片end-->
             
        </div>
        <!--商品详情end-->
        <!--最新评论-->
        <!--评论页-->
        <div class="xq_it xqbuy_it cmain" id="wrap">
            <!--别人的评论-->
            <div class="talk_it">
                <!--new评论标题-->
                <div class="talkit_top">
                    <div class="talktop_left">
                        最新评论
                    </div>
                </div>
                <!--new评论标题end-->
                <!--评论数目-->
                <div class="talkit_top">
                    <div class="bt2"><span>我要评论</span></div>
                    <div class="talktop_left fr">
                        <span>共<i>54</i>条评论</span>
                        <em>|</em>
                        <span>1/14</span>
                        <span class="next_page">下一页</span>
                    </div>
                </div>
                <!--评论数目end-->
                <!--每一条评论-->
                <div class="every_talk">
                    <!--每一条评论左边-->
                    <div class="evertalk_right fl">
                        <p>没在网上买过那么贵的东西，还真是不放心，还要定制时间！不过感谢客服那么耐心的回答，服务真是好！戒指收到了好漂亮~~太满意了！！</p>
                        <p><span>已购买商品：Forever 永恒的爱 80分 净度： VS2   颜色：H  切工：3EX </span></p>
                    </div>
                    <!--每一条评论左边end-->
                    <!--每一条评论左边-->
                    <div class="evertalk_left fr">
                        <!--选择-->
                        <p class="star">
                            <span>百搭</span>
                            <span>佩戴舒适</span>
                        </p>
                        <div class="name_date">
                            <p>曹立黎</p>
                            <p>2014/4/29 9:44:59</p>
                        </div>
                    </div>
                    <!--每一条评论左边end-->
                </div>
                <!--每一条评论end-->
                <!--每一条评论-->
                <div class="every_talk">
                    <!--每一条评论左边-->
                    <div class="evertalk_right fl">
                        <p>没在网上买过那么贵的东西，还真是不放心，还要定制时间！不过感谢客服那么耐心的回答，服务真是好！戒指收到了好漂亮~~太满意了！！</p>
                        <p><span>已购买商品：Forever 永恒的爱 80分 净度： VS2   颜色：H  切工：3EX </span></p>
                    </div>
                    <!--每一条评论左边end-->
                    <!--每一条评论左边-->
                    <div class="evertalk_left fr">
                        <!--选择-->
                        <p class="star">
                            <span>百搭</span>
                            <span>佩戴舒适</span>
                        </p>
                        <div class="name_date">
                            <p>曹立黎</p>
                            <p>2014/4/29 9:44:59</p>
                        </div>
                    </div>
                    <!--每一条评论左边end-->
                </div>
                <!--每一条评论end-->
                <!--每一条评论-->
                <div class="every_talk">
                    <!--每一条评论左边-->
                    <div class="evertalk_right fl">
                        <p>没在网上买过那么贵的东西，还真是不放心，还要定制时间！不过感谢客服那么耐心的回答，服务真是好！戒指收到了好漂亮~~太满意了！！</p>
                        <p><span>已购买商品：Forever 永恒的爱 80分 净度： VS2   颜色：H  切工：3EX </span></p>
                    </div>
                    <!--每一条评论左边end-->
                    <!--每一条评论左边-->
                    <div class="evertalk_left fr">
                        <!--选择-->
                        <p class="star">
                            <span>百搭</span>
                            <span>佩戴舒适</span>
                        </p>
                        <div class="name_date">
                            <p>曹立黎</p>
                            <p>2014/4/29 9:44:59</p>
                        </div>
                    </div>
                    <!--每一条评论左边end-->
                </div>
                <!--每一条评论end-->
                <!--每一条评论-->
                <div class="every_talk">
                    <!--每一条评论左边-->
                    <div class="evertalk_right fl">
                        <p>没在网上买过那么贵的东西，还真是不放心，还要定制时间！不过感谢客服那么耐心的回答，服务真是好！戒指收到了好漂亮~~太满意了！！</p>
                        <p><span>已购买商品：Forever 永恒的爱 80分 净度： VS2   颜色：H  切工：3EX </span></p>
                    </div>
                    <!--每一条评论左边end-->
                    <!--每一条评论左边-->
                    <div class="evertalk_left fr">
                        <!--选择-->
                        <p class="star">
                            <span>百搭</span>
                            <span>佩戴舒适</span>
                        </p>
                        <div class="name_date">
                            <p>曹立黎</p>
                            <p>2014/4/29 9:44:59</p>
                        </div>
                    </div>
                    <!--每一条评论左边end-->
                </div>
                <!--每一条评论end-->
            </div>
            <!--别人的评论end-->
            <!--分页-->
            <div class="paging_all">
                <div class="paging_all-cort ">
                     
                </div>
            </div>
            <!--分页end-->
        </div>
        <!--评论页end-->
        <!--最新评论end-->
        <!--如何购买-->
        <div class="xq_it xqbuy_it cmain" id="wrap">

        </div>
        <!--如何购买end-->
        <!--常见问答-->
        <div class="xq_it xqbuy_it cmain" id="wrap">
            <!--提问-->
            <div class="talk_it">
                <!--new提问标题-->
                <div class="talkit_top">
                    <div class="talktop_left">
                        常见问答
                    </div>
                </div>
                <!--new评论标题end-->
                <!--评论数目-->
                <div class="talkit_top">
                    <div class="bt2"><span>我要提问</span></div>
                    <div class="talktop_left fr">
                        <span>共<i>54</i>条问答</span>
                        <em>|</em>
                        <span>1/14</span>
                        <span class="next_page">下一页</span>
                    </div>
                </div>
                <!--评论数目end-->
                <!--每一条评论-->
                <div class="every_talk">
                    <!--每一条评论左边-->
                    <div class="question_left fl">
                        <p>
                            <i></i>
                            <span>是否有实体店？</span>
                        </p>
                        <p class="answer">
                            <i></i>
                            <span>DR公司总部是在香港，目前内地深圳南山区设有实体店，支持到店订购，也支持全国在线官网订购。同时目前其他一线城市公司已在考察阶段中，会陆续开设店面</span>
                        </p>
                    </div>
                    <!--每一条评论左边end-->
                    <!--每一条评论右边-->
                    <div class="question_right fr">
                        <p>该问答是否对您有帮助？<span>(194)是</span> <span>(73)否</span></p>
                    </div>
                    <!--每一条评论右边end-->
                </div>
                <!--每一条评论end-->
                <!--联系客服-->
                <div class="talkit_bottom">
                    <div class="talkit_top-lx fr">
                        <span class="fl">更多疑问咨询请联系我们，欢迎留下您宝贵的意见。</span>
                        <div class="bt2"><span>联系客服</span></div>
                    </div>
                </div>
                <!--联系客服end-->
            </div>
        </div>
        <!--常见问答end-->
        <!--常见问答-->
        <div class="xq_it xqbuy_it cmain" id="wrap">

        </div>
        <!--售后服务end-->
    </div>
    <!--导航下的所有end-->
    <!--其他功能-->
    <div class="other_do cmain">
        <div class="ot_all">
            <div class="ot_left fl">
                <img src="nimages/drbuy_xq/erwei.png" width="196" height="150" />
                <p>加入微信 了解品牌动态</p>
            </div>
            <div class="ot_left fl otherot_p">
                <div class="thephone"></div>
                <h3>400-01-13520</h3>
                <p>欢迎致电Darry Ring服务热线</p>
                <p>珠宝顾问为您解答任何关于购买疑问</p>
                <p>或钻石知识。</p>
                <p><a href="#" target="_blank">> 联系在线客服</a></p>
            </div>
            <div class="ot_left no-border fl">
                <div class="thetaxi"></div>
                <h3>预约到实体店</h3>
                <select>
                    <option>选择实体店</option>
                </select>
                <div class="all_txt">
                    <input type="text" class="name_txt" placeholder="X先生/女士" />
                    <input type="text" class="phone_txt" placeholder="手机号码" />
                </div>
                <div class="bt1"><span>确认预约</span></div>
            </div>
        </div>
    </div>
    <!--其他功能end-->
    <!--浏览过的产品-->
    <div class="kgd_cp cmain">
        <div class="read_it">
            <p class="read_jl">您的浏览记录</p>
            <ul class="read_ul">
                <li>
                    <div class="read_top">
                        <a href="#" target="_blank">
                            <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                        </a>
                    </div>
                    <p>Forever 永恒的爱</p>
                    <p><span>￥23600.00</span></p>
                </li>
                <li>
                    <div class="read_top">
                        <a href="#" target="_blank">
                            <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                        </a>
                    </div>
                    <p>Forever 永恒的爱</p>
                    <p><span>￥23600.00</span></p>
                </li>
                <li>
                    <div class="read_top">
                        <a href="#" target="_blank">
                            <img src="/Content/images/base/big_ring.jpg" width="138" height="138" />
                        </a>
                    </div>
                    <p>Forever 永恒的爱</p>
                    <p><span>￥23600.00</span></p>
                </li>
                <li>
                    <div class="read_top">
                        <a href="#" target="_blank">
                            <img src="/Content/images/base/big_ring.jpg" width="138" height="138" />
                        </a>
                    </div>
                    <p>Forever 永恒的爱</p>
                    <p><span>￥23600.00</span></p>
                </li>
                <li>
                    <div class="read_top">
                        <a href="#" target="_blank">
                            <img src="/Content/images/base/big_ring.jpg" width="138" height="138" />
                        </a>
                    </div>
                    <p>Forever 永恒的爱</p>
                    <p><span>￥23600.00</span></p>
                </li>
                <li>
                    <div class="read_top">
                        <a href="#" target="_blank">
                            <img src="/Content/images/base/big_ring.jpg" width="138" height="138" />
                        </a>
                    </div>
                    <p>Forever 永恒的爱</p>
                    <p><span>￥23600.00</span></p>
                </li>
            </ul>
        </div>
        <!--向左-->
        <div class="read_pre"></div>
        <div class="read_next"></div>
    </div>
    <!--浏览过的产品end-->
</div>


