
@{
    ViewBag.Title = "DiamondDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{

     
<link href="~/Content/css/product/product.css" rel="stylesheet" />
    <script src="~/Scripts/product/buy_xq.js"></script>
    <script src="~/Scripts/product/fd_hd.js"></script>
    <script src="~/Scripts/product/Magnifier.js"></script>
    <script src="~/Scripts/FewMain/common.base.js"></script>
    <script src="~/Scripts/layer-v3.0.1/layer/layer.js"></script>
    <script src="~/Scripts/product/diapro.js"></script>
    <script src="~/Scripts/laypage/laypage.js"></script>
    <script>
        $(function() {
            //分页脚本
            laypage({
                cont: $('.paging_all_search'), //容器。值支持id名、原生dom对象，jquery对象,
                pages: 100, //总页数
                skip: true, //是否开启跳页
                skin: '#77C7C8',
                groups: 7 //连续显示分页数
            });

            laypage({
                cont: $('.paging_all-cort'), //容器。值支持id名、原生dom对象，jquery对象,
                pages: 100, //总页数
                skip: true, //是否开启跳页
                skin: '#77C7C8',
                groups: 7 //连续显示分页数
            });
        });
    </script>
}
<div class="cort">
    <div class="tobuy cmain">
        <div class="zbk_top spalid">
            <span>您当前的位置：</span>
            <a href="/" target="_blank">网站首页</a>
            <em>></em>
            <span>求婚钻戒</span>
        </div>
        <!--购买页中间-->
         @{Html.RenderPartial("_PartialDetailBuyInfo");}
        <!--购买页中间end-->
    </div>
    <!--高级搜索-->
    @{Html.RenderPartial("_PartialDetailSearch");}
    <!--高级搜索end-->
    @*<div class="buy_ks cmain">
        <!--推荐款式 暂时不用-->
        <div class="ks_tj">
            <div class="kstj_top">
                <span>同系列推荐</span>
                <i>购买求婚钻戒后,即可购买以下商品</i>
            </div>
            <div class="kstj_center">
                <ul class="tjks_ul">
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>

                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pho_top">
                            <a href="#" target="_blank">
                                <img src="~/Content/images/base/big_ring.jpg" width="138" height="138" />
                            </a>
                        </div>
                        <div class="pho_bottom">
                            <p>Forever 永恒的爱</p>
                            <p><span>￥23600.00</span></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pre"></div>
            <div class="next"></div>
        </div>
        <!--推荐款式end-->
    </div>*@
    <!--小导航-->
    <div class="allthenav">
        <!--导航-->
        <div class="gd_nav">
            <ul class="gdnav_ul">
                <li class="gdnav_sp">
                    <span>商品详情</span>
                </li>
                <li>
                    <span>最新评论<em>(500)</em></span>
                </li>
                <li>
                    <span>如何购买</span>
                </li>
                <li>
                    <span>常见问答</span>
                </li>
                <li>
                    <span>售后服务</span>
                </li>
            </ul>
        </div>
        <!--导航end-->
        <!--导航下的线条-->
        <div class="gd_nav-line"></div>
        <!--导航下的线条end-->
    </div>
    <!--小导航end-->
    <!--导航下的所有-->
    @{Html.RenderPartial("_PartialAllDetailInfo");}
    <!--导航下的所有end-->
    <!--其他功能-->
    <!--其他功能end-->
    <!--浏览过的产品-->
    @{Html.RenderPartial("_PartialProHistory");}
    <!--浏览过的产品end-->
</div>


