
@{
    ViewBag.Title = "钻石首饰_钻石定制|珠宝镶嵌|钻石价格|裸钻批发|";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FewMain.Model.ViewModel.ProductListViewModel
@section scripts
{

    <script src="~/Scripts/laypage/laypage.js"></script>
    <script>
        $(function () {

            laypage({
                cont: $('.pagination'),
                pages: 18, //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
                skip: true, //是否开启跳页
                skin: '#AF0000',
                curr: function () { //通过url获取当前页，也可以同上（pages）方式获取
                    var page = location.search.match(/page=(\d+)/);
                    return page ? page[1] : 1;
                }(),
                jump: function (e, first) { //触发分页后的回调
                    if (!first) { //一定要加此判断，否则初始时会无限刷新
                        location.href = '?page=' + e.curr;
                    }
                }
            });

            //分页脚本

        });
    </script>
    <style>
        b {
            font-weight: normal;
        }

        .collect span:hover {
            background: #E2E2E1 none repeat scroll 0 0 !important;
        }
    </style>
}
<div class="banner2">
    <div class="box">
        <img src="/Content/images/mall/20151207214740_62907.jpg" />
    </div>
</div>
<div id="position">
    <div class="box">
        当前位置：<a href="@Url.Action("Index","Product")" target="_blank">尚爱商城</a>
    </div>
</div>
<div class="main">
    @*列表搜索页面*@
    @{Html.RenderPartial("_PartialProSearch", Model);}
    @*列表分页数据*@
    @{Html.RenderPartial("_PartialProduct", Model);}
    @*分页位置*@
    <div class="pagination"></div>
</div>