#diamond_search{  overflow:hidden; padding:32px 10px 20px 10px; background:#fff; border:1px solid #dedede; color:#333; margin-bottom:20px; position:relative;}
#diamond_search .con{ width:100%; overflow:hidden; line-height:30px; float:left; margin-bottom:12px;}
#diamond_search .con h3{ float:left; display:block; line-height:30px; padding-right:10px; width:56px; text-align:right; font-size:12px;} 
#diamond_search  ul li { border: 1px solid #dedede;color: #666;cursor: pointer;float: left; font-weight: normal;line-height:30px;margin-bottom: 0;margin-right: -1px;text-align: center; width:78px; background:url(../images/base/bg.jpg) repeat-x bottom;}
#diamond_search li.hover { background:url(../images/base/bg2.jpg) repeat-x ; color:#fff; border: 1px solid #797979;}
#diamond_search input{ display:block; float:left; width:100.3px; padding:5px 0; height:20px; line-height:20px; text-align:center; border:1px solid #dedede; color:#999;outline:none;}
#diamond_search b{ display:block; float:left;margin:0 6px;border-bottom: 1px solid #847771; height:15px; width:8px;}
#diamond_search font{ display:block; float:left;width:13px; overflow:hidden; text-align:right;}
#diamond_search .width{width:26.8%;}
#diamond_search .width2{width:28%;}
/*--------*/
#diamond_search .shape li{background:#fff url(../images/base/bg3.jpg) repeat-x bottom}
#diamond_search .shape li.hover { background:url(../images/base/bg2.jpg) repeat-x bottom; color:#fff; border: 1px solid #797979;}
#diamond_search .shape span{ padding-top:26px; display:block;}
#diamond_search .shape .sh1{ background:url(../images/diamond/dz1.png) no-repeat center 6px;}
#diamond_search .shape .hover .sh1{ background:url(../images/diamond/dz11.png) no-repeat center 6px;}
#diamond_search .shape .sh2{ background:url(../images/diamond/dz2.png) no-repeat center 6px;}
#diamond_search .shape .hover .sh2{ background:url(../images/diamond/dz22.png) no-repeat center 6px;}
#diamond_search .shape .sh3{ background:url(../images/diamond/dz3.png) no-repeat center 6px;}
#diamond_search .shape .hover .sh3{ background:url(../images/diamond/dz33.png) no-repeat center 6px;}
#diamond_search .shape .sh4{ background:url(../images/diamond/dz4.png) no-repeat center 6px;}
#diamond_search .shape .hover .sh4{ background:url(../images/diamond/dz44.png) no-repeat center 6px;}
#diamond_search .shape .sh5{ background:url(../images/diamond/dz5.png) no-repeat center 6px;}
#diamond_search .shape .hover .sh5{ background:url(../images/diamond/dz55.png) no-repeat center 6px;}
#diamond_search .shape .sh6{ background:url(../images/diamond/dz6.png) no-repeat center 6px;}
#diamond_search .shape .hover .sh6{ background:url(../images/diamond/dz66.png) no-repeat center 6px;}
#diamond_search .shape .sh7{ background:url(../images/diamond/dz7.png) no-repeat center 6px;}
#diamond_search .shape .hover .sh7{ background:url(../images/diamond/dz77.png) no-repeat center 6px;}z
#diamond_search .shape .sh8{ background:url(../images/diamond/dz8.png) no-repeat center 6px;}
#diamond_search .shape .hover .sh8{ background:url(../images/diamond/dz88.png) no-repeat center 6px;}
#diamond_search .shape .sh9{ background:url(../images/diamond/dz9.png) no-repeat center 6px;}
#diamond_search .shape .hover .sh9{ background:url(../images/diamond/dz99.png) no-repeat center 6px;}
#diamond_search .con .s_h3{ line-height:58px;}
/*--------*/ 
#diamond_search .hint{width:180px;height:180px; right:25px; top:10px; position: absolute;} 
#diamond_search .hint .btn{ padding-left:25px;}
#diamond_search .hint .btn input{background:url(../images/base/bg1.jpg) repeat-x;color:#fff; width:119px; height:30px; font-size:12px; font-weight:bold; float:left; display:block; margin-top:10px;border: 1px solid #797979;}
#diamond_search .hint .btn a{background:url(../images/base/bg.jpg) repeat-x;color:#666; width:118px; height:30px; line-height:32px; font-size:12px; font-weight:bold; float:left; display:block; border: 1px solid #dedede; text-align:center;}
#diamond_search .hint .btn input:hover,#diamond_search .hint .btn a:hover{ background:#ff8800; color:#fff; border:1px solid #ff7700;}

#diamond_search .hint2{width:180px;height:80px; right:160px; top:32px; position: absolute; z-index:2;} 
/*--------*/
.diam-buy{text-align: center;}
.diam-buy .diam-login{ cursor:pointer;}
.diam-popover-mask {z-index: 9998;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);display:none}
.diam-popover {z-index:9999;position:fixed;top:20%;left:40%;width:1000px;height:610px;margin:-120px 0 0 -330px;border-radius:5px;border:solid 1px #999;background-color:#fff;display:none;}
.diam-poptit {padding:12px;position: relative;}
.diam-poptit .close {float:right;color:#999;padding:5px;margin:-2px -5px -5px;font:bold 14px/14px simsun;text-shadow:0 1px 0 #ddd}
.diam-poptit .close:hover {color:#444;}

.diam-popover .con{ overflow:hidden; width:400px; float:left; margin:0px 20px 20px 25px;border-top:1px solid #dedede;border-left:1px solid #dedede;}
.diam-popover .cimg{ width:399px; height:125px; float:left; overflow:hidden; border:1px solid #dedede; border-bottom:none; margin:15px 0 0 25px;}
.diam-popover .cimg img{ width:320px;display:block; margin:0 auto; padding-top:10px; }
.diam-popover .con p{ width:199px; float:left; line-height:37px; color:#333; border-right:1px solid #dedede;border-bottom:1px solid #dedede; overflow:hidden;}
.diam-popover .con p font{ width:60px; display:block; float:left; text-align:center; border-right:1px solid #dedede; margin-right:10px;}
.diam-popover .con p img{ width:20px; height:20px; float:left; margin-top:13px;}

.diam-popover .dg{ width:400px; height:36px; float:left; margin-left:25px; }
.diam-popover .dg a{background:#797979; color:#fff; width:120px; text-align:center; display:block; border-radius:5px; margin:0 auto; padding:6px 0; font-size:16px;}
.diam-popover .dg a:hover{background:#ccb17a;}

.diam-popover .img{ width:480px; height:500px; overflow:hidden; float:left; margin:13px 0 0 30px; border:1px solid #dedede; padding:15px;}
.diam-popover .diamon_img img{ width:480px; height:480px; margin-top:10px; }

#d_con { height:530px; overflow:hidden;}
#d_con #menubox{ height:30px; line-height:30px; font-size:12px; margin-bottom:10px;}
#d_con #menubox a{text-decoration:none; color:#333; width:68.5px; float:left; display:block; text-align:center; }
#d_con #menubox a:hover,#d_con #menubox .hover{ background:url(../images/base/bg2.jpg) repeat-x bottom; color:#fff;}
#d_con .tat{ width:500px; height:500px; overflow:hidden;}
#d_con .tat img{ width:480px;}







