@charset "utf-8";
/* CSS Document */
*{padding:0px;margin:0px;}	
body{font-size:12px;font-family:"微软雅黑"; background:#f7f7f7; }		
img{border:none;}   
a{color:#333;text-decoration:none;}
a:hover{text-decoration: none;color:#ec2525;}	
ul,li{list-style:none;}   
input,select,button{font:12px Verdana,Arial,Tahoma;vertical-align:middle; outline: medium none;}
.clear{clear:both;height:0px; overflow: hidden;}
/*------*/
.header{width:100%;height:138px; background:#fff; }
.header .top {width:100%;float: right;height:36px; background:#f5f5f5;}
.header .top .logo{position:absolute; top:0; left:0px; }
.header .top ul {width:1200px; height:100%;margin:0 auto;display: block; position:relative;}
.header .top ul li {color: #333;display: block;float:right;height: 30px; line-height:30px; padding: 0 6px;}
.header .top ul li a {color: #333;font-family: "微软雅黑";}
.header .top ul li a b{color:#ff9900; padding:0 2px;}
.header .top ul .w a{ color:#666;background:url(../images/base/top_ws.jpg) no-repeat 0 1px; padding-left:20px; margin-left:5px;}
/*------*/
.head{width:1200px;margin:0 auto; }
.head .l_right{ float:left; padding:35px 0 0 250px; }
.head .right{ margin-top:38px; float:right; }
/*---------导航---------*/
.navigation {width:100%;background:#fff; height:56px; border-bottom:1px solid #eee;}
.navigation .nav_con{width:1200px;margin:0 auto;}
.navigation .nav_con .one{ float:right; margin-left:36px; line-height:56px; padding:0;}
.navigation .nav_con .one img{ display:block; float:left; margin:5px 10px 0 0;}
ul.topnav {padding: 0;width:950px; height:100%; float:left;display:block;position: relative;z-index:1000;}
ul.topnav li { float: left;margin: 0; padding: 0;}
ul.topnav li a {padding:0px 22px; line-height:56px;	display: block;	color: #333;text-decoration: none; font-size:14px;}
ul.topnav li:hover {color:#7ecdcd;}
ul.topnav li span {padding: 15px 0;position: absolute;	left:50%; top:56px;	display: none;width:1920px; margin: 0 auto 0 -836px;overflow: hidden; height:268px;background:url(../images/base/navbg.png) repeat-x bottom;padding-top:30px;}
ul.topnav li:hover span { display: block;}
ul.topnav li span a {display: inline;color:#666;text-decoration: none;}
ul.topnav li span a:hover {text-decoration: underline;}
ul.topnav li span .box{ width:1200px; margin:0 auto;}
/*---*/
ul.topnav li span .box .left{float:left; height:100%; overflow:hidden; padding-left:38px;}
ul.topnav li span .box .left b{ height:24px; font-size:14px; display:block; width:100%;}
ul.topnav li span .box .left b a{color:#7ecdcd; display:block; line-height:24px; padding:0;}
ul.topnav li span .box .left .lis{ height:100%; overflow:hidden; float:left;}
ul.topnav li span .box .left .lis a{font-size:12px; display:block; width:200px; float:left; line-height:24px; padding:0;}
ul.topnav li span .box .left .lis a:hover{ color:#ccb17a; font-weight:bold;}
/*---*/
ul.topnav li span .box .d1{ width:250px;}
ul.topnav li span .box .d2{ width:80px;}
/*---*/
ul.topnav li span .box .s1{ width:200px;}
ul.topnav li span .box .s1 .lis a{ width:100px;}
ul.topnav li span .box .s2{ width:520px;}
ul.topnav li span .box .s2 .lis{ width:36%;}
ul.topnav li span .box .s2 .lis a{ width:90px;}
ul.topnav li span .box .s2 a{ display:block; padding:0;}
ul.topnav li span .box .s2 img{ float:right;}
ul.topnav li span .box .s1 b,ul.topnav li span .box .s2 b{ border-bottom:1px solid #dedede; margin-bottom:10px; padding-bottom:5px;}
/*---*/
ul.topnav li span .box .z1{ width:150px; text-indent:60px;}
ul.topnav li span .box .z2{ width:150px;}
/*---*/
ul.topnav li span .box .c1{ width:136px; text-indent:60px;}
ul.topnav li span .box .c2{ width:100px; text-indent:13px;}
ul.topnav li span .box .c3{ width:400px;}
/*---*/
ul.topnav li span .box .right{float:right; overflow:hidden;}
ul.topnav li span .box .right b{ font-size:12px; color:#666; line-height:20px; margin:15px 0 5px 0; display:block; }
ul.topnav li span .box .right a{ display:block; margin:0; padding:0;}
/*---*/


/*-------弹出层--------*/
.theme-popover,.theme-popover2{z-index:9999;position:fixed;top:38%;left:50%;width:460px;height:460px;margin:-180px 0 0 -186px;border-radius:10px;border:solid 2px #21d9d9;background-color:#f6f6f6;display:none;box-shadow: 0 0 2px #999;}
.theme-poptit,.theme-poptit2{height:30px;padding:10px;position: relative;}
.theme-poptit h3,.theme-poptit2 h3{float:left;font-size:14px; padding:20px 0 0 93px; line-height:32px;}
.theme-poptit h3 b,.theme-poptit2 h3 b{ display:block; border-top:3px solid #34dcdc;border-bottom:3px solid #34dcdc; border-left:2px solid #34dcdc; border-right:2px solid #34dcdc; padding:12px 8px; float:left; margin-right:15px;}
.theme-poptit .close,.theme-poptit2 .close{float:right;color:#999;padding:5px;margin:-2px -5px -5px;font:bold 14px/14px simsun;text-shadow:0 1px 0 #ddd;}	 
.theme-poptit .close:hover,.theme-poptit2 .close:hover{color:#bd9267;}		
.theme_box{padding:38px 60px;}
.theme_box img{ margin:0 auto; display:block; border:1px solid #dedede; margin-bottom:30px;}
.theme_box p{ margin:0 auto; width:160px; padding:8px 46px; height:32px; line-height:18px; background:#34dcdc;border-radius:30px; text-align:center; color:#fff; border:1px solid #2ed3d3;}
.theme_box p:hover{ background:#ccaa66; border:1px solid #c5a25d;}
.theme-popover-mask{background: #000 none repeat scroll 0 0;display: none;height: 100%;left: 0;opacity: 0.6;position: fixed;top: 0;width: 100%; z-index: 9998;}
/*------*/	
.footer{width:100%; overflow:hidden; background:#41b1a5;}
.footer a{ color:#fff; line-height:24px;}
.footer a:hover{ color:#ffee00;}
.footer .top{width:1200px;margin:0 auto;height:190px; padding:38px 0;}
.footer .top ul{width:130px; display:block; float:left;height:166px;}
.footer .top ul h3{ margin-bottom:15px; font-size:16px; font-weight:lighter;}
.footer .top ul h3 a{ color:#ffffcc;}
.footer .top .right{ float:right;}
.footer .bot{width:100%;  overflow:hidden; text-align:center;  color:#fff; padding-bottom:20px;}
.footer .bot .box{  padding:20px 0 10px 0;}
.footer .bot p{ padding-bottom:15px;}

/*--------右侧客服导航-----------*/
.chat_f1{font-size:12px; z-index:19999; height:1000px; padding-top:130px;position:fixed;right:0px;top:0;width:37px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+80));    
	 background:rgba(255, 255, 255, 0.9) none repeat scroll 0 0 !important;
     filter:Alpha(opacity=90);
     background:#fff;
	}
.chat_f1 b{ display:block;}
.chat_f1_main{height:20px;background:url(../images/base/c2.gif) no-repeat}
.chat_f1_bottom{height:37px; width:37px;overflow:hidden;}
.chat_f1 .chat_f1_expr{width:37px; height:0px; overflow:hidden; padding:0; margin:0;}
.chat_f1 .list{overflow:hidden; border:none;}
.chat_f1 h5{ background:none;}
.chat_f1 .list:hover{background-color:#41b1a5;}
.chat_f1 .detail{position:absolute;margin-left:-110px;margin-top:-37px;display:none;width:110px; height:100%;}    
.chat_f1 .detail span{ line-height:37px;display:block;font-size:12px; background:#41b1a5; color:#fff; text-align:center;}
.chat_f1 .detail span a{ color:#fff;}

.chat_f1 .detail2{position:absolute;margin-left:-110px;margin-top:-200px;display:none;width:110px; height:100%;} 
.chat_f1 .detail2 span{display:block;color:#666666;font-size:12px;}  

.chat_f1 .detail .jiadiv_02{ background:#41b1a5; height:190px; padding:10px;} 
.chat_f1 .detail .jiadiv_02 h6{ color:#fff; font-size:14px; padding:5px 0 15px 10px; border:none; text-align:left;} 
.chat_f1 .detail .jiadiv_02 a{ width:60px; height:80px; float:left; color:#fff; text-align:center;} 
.chat_f1 .detail .jiadiv_02 a img{ display:block; margin:0 auto;} 


.chat_f1  .kf1{background:#7ecdcd;} 
.chat_f1 .detail .kf{ background:#41b1a5; height:280px; padding:20px; } 
.chat_f1 .detail .kf h6{ color:#fff; font-size:14px; padding:0px 0 10px 10px; border:none; text-align:left;}
.chat_f1 .detail .kf a{  width:110px; height:26px; line-height:26px; display:block;border-radius:20px; margin-bottom:10px; text-indent:20px;} 
.chat_f1 .detail .kf .one{ background:#7ecdcd url(../images/base/qq/qq.png) no-repeat 10px 0px; border: 1px solid #99dbdb; }
.chat_f1 .detail .kf .one:hover{ background:#ccb17a url(../images/base/qq/qq.png) no-repeat 10px 0px;  border: 1px solid #ccb17a;}
.chat_f1 .detail .kf .two{ background:#7ecdcd url(../images/base/qq/qq2.png) no-repeat 10px 0px; border: 1px solid #99dbdb; }
.chat_f1 .detail .kf .two:hover{ background:#ccb17a url(../images/base/qq/qq2.png) no-repeat 10px 0px; border: 1px solid #ccb17a;}

.chat_f1 .detail .mem { background:#41b1a5; height:160px; padding:20px 0; margin-top:-1px;} 
.chat_f1 .detail .mem img{ display:block; margin:0 auto; margin-bottom:10px;} 
.chat_f1 .detail .mem a{ color:#fff;font-size:14px; background:#7ecdcd ; width:100px; height:26px; line-height:26px;text-align:center; display:block; border-radius:20px;border: 1px solid #99dbdb; margin:0 auto;margin-bottom:15px; }
.chat_f1 .detail .mem a:hover{ background:#ccb17a;border: 1px solid #ccb17a;}
