@import url(global.css);
/*-------------首页幻灯------------*/
.flexslider{position:relative;height:600px;overflow:hidden;/*background:url(../images/index/loading.gif) 50% no-repeat;*/ }
.slides{position:relative;z-index:1;left: 50%; margin: 0 auto 0 -960px;overflow: hidden; text-align: center; width: 1920px;}
.slides li{height:600px; z-index:10;}
.slides li img{ z-index:10;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center; z-index:10;}
.flex-control-nav li{ height:600px; display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/index/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}
.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute; z-index:10;}
.flex-direction-nav li a.flex-prev{left:130px;background:url(../images/index/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-prev:hover{left:130px;background:url(../images/index/prev2.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:130px;background:url(../images/index/next.png) center center no-repeat;}
.flex-direction-nav li a.flex-next:hover{right:130px;background:url(../images/index/next2.png) center center no-repeat;}

.pro_news{ width:1200px; margin:0 auto; overflow:hidden; margin-top:30px;}
.pro_news .left{ width:590px; height:460px; float:left;}
.pro_news .right{ width:590px; height:460px; float:right;}
.pro_news .right .con{ width:530px; height:160px; background:#f5f5f5; margin-top:20px; padding:30px;}
.pro_news .right .con .title{ width:100%; height:38px;}
.pro_news .right .con .title h3{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:lighter;}
.pro_news .right .con .title a{ float:right;font-size:11px; background:#21d9d9; color:#fff; padding:3px 9px;}
.pro_news .right .con ul li{ display:block; float:left; width:100%; line-height:30px;}
.pro_news .right .con ul li a{ float:left; display:block;  background:url() no-repeat 0px 12px; text-indent:18px;}
.pro_news .right .con ul li span{ float:right;color:#666;}
.pro_news .bot{ margin:30px 0; float:left; padding:30px 0;}

/*--------------*/
.hot_product{ width:1200px; margin:0 auto; overflow:hidden; margin-bottom:50px;}
.hot_product .top{ margin:50px 0;}
.hot_product .top2{ margin-bottom:20px;}
.hot_product .left{ width:590px; height:590px; float:left;}
.hot_product .right{ width:590px; height:590px; float:right;}
.hot_product .right ul{ width:650px; height:320px; overflow:hidden;}
.hot_product .right ul li{ display:block; float:left; margin-right:20px;}

/*--------------*/
.ly{ width:100%; margin:0 auto;overflow:hidden; background:#f5f5f5; padding:80px 0;}
.ly .box{ width:1200px; margin:0 auto;}
.ly .box .left{ width:730px; float:left;}
.ly .box .server_right{ float:right;width:370px;height:430px;padding:50px 50px 0px 50px; background:#ffffff; overflow:hidden;}
.ly .box .server_right span{ font-size:18px;color:#000000; display:block;margin-bottom:35px;}
.ly .box .server_right input{display:block;width:358px; padding:15px 0;line-height:18px;border:1px solid #dcdcdc; text-indent:20px; font-size:14px; color:#4c4c4c; -moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;outline:none;margin-bottom:20px;}
.ly .box .server_right textarea{display:block;width:358px;height:98px; line-height:32px; border:1px solid #dcdcdc; text-indent:20px; font-size:14px; color:#4c4c4c; -moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;margin-bottom:30px;resize: none; outline:none; }

/*--------------*/
.baozhen{ width:100%; margin:0 auto;overflow:hidden;}
.baozhen .top{ padding:80px 0 20px 0; width:1200px; margin:0 auto;}
.baozhen .top2{ margin-bottom:20px; width:1200px; margin:0 auto;}
.baozhen .con{ background:#f5f5f5; padding-bottom:50px;}
.baozhen .con img{ display:block; margin:0 auto;} 
  
/*------------------*/

.picnews{width:100%;background:#f5f5f5;padding:80px 0; margin:30px 0 60px 0;}
.picnews  .button_left{float:left;width:30px;padding-top:130px; margin-right:20px;}
.picnews .button_right{float:right;width:30px;padding-top:130px;}    
.picnews .rollBox{width:1300px; overflow:hidden; margin:0 auto;}	
.picnews .rollBox .Cont{ width:1200px;float:left;overflow:hidden;}
.picnews .rollBox .ScrCont{ width:10000000px;}  
.picnews  .rollBox .Cont ul li{height:280px; width:182px; padding:20px; margin-right:22px; float:left; background:#fff;}  
.picnews .rollBox .Cont ul li img{height:182px;width:182px;display:block;}   
.picnews .rollBox .Cont ul li h6{ padding:20px 0 10px 0; line-height:18px; font-weight:lighter; font-size:12px;}   
.picnews .rollBox .Cont ul li span{height:22px;line-height:22px;display:block;font-size:12px;color:#666;}   
.picnews .rollBox .Cont ul li span a{font-size:12px;color:#333;} 
.picnews .rollBox .Cont ul li span .b1{color:#999;text-decoration: line-through; font-weight:lighter;}  
.picnews .rollBox .Cont ul li span .b2{color:#17c8c9;}      
.picnews .rollBox .Cont a{color:#333;}	
.picnews .rollBox .Cont a:hover{color:#f00;}	
.picnews .rollBox #List1,.rollBox #List2{float:left;}


/*------------------*/
.news_product{width:100%;height:700px; background:#f5f5f5; overflow:hidden;}
.news_product .product_box{width:1200px;margin:0 auto;}
.news_product .product_box .title{margin-top:74px; text-align:center;height:100px; background:url(../images/index/title_bg.jpg) repeat-x left 80px;}
.news_product .product_box .title span{ font-family:Arial; color:#21d9d9; font-size:40px;}
.news_product .product_box .title p{ font-size:40px; color:#000000; display:block; background:#f5f5f5;width:450px; text-align:center;margin:0 auto;}
.fuwuImg {
    width: 1200px;
    height: 700px;
    margin: 40px auto 0px auto;
   }
#featureCarousel {
    //height: 330px;
    width:1160px;
    background-color:gray;
    position:relative;
}
#featureCarousel img {
    border:0;
	width:430px;
	height:430px;
}
#featureCarousel .feature {
    position:absolute;
    top:-1000px;
    left:-1000px;
    border:1px solid #dedede;
    cursor:pointer;
}
#featureCarousel .feature > div {
    position:absolute;
    bottom:-160px;
    left:0px;
    width:100%;
	text-align:center;
}
#featureCarousel .feature > div span {
   font-size:25px; 
   color:#0d0408;
   
 
}
#featureCarousel .feature > div p {
    margin:0;
    padding:5px;
   
    font-size:15px;
    color:#808080;
}
#featureCarousel .feature > div a{
	display:block;
	width:300px;
	height:50px;
	margin:20px auto 0px auto;
	line-height:50px;
	text-align:center;
	border:1px solid #808080;
	-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
}

#featureCarousel .feature > div a:hover{
	border:1px solid #10c9c9;
	background:#21d9d9;
	color:#fff;
	-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
}

#featureCarousel .blipsContainer {
    position:absolute;
    color:white;
    right:25px;
    top:450px;
    padding:0;
    margin:0;
}
#featureCarousel .blipsContainer .blip {
    margin:3px;
    height:14px;
    width:14px;
    background: #ccc;
    color:white;
    text-align:center;
    font-size:10px;
    border:1px dotted black;
}
#featureCarousel .blipsContainer .blipSelected {
    color:white;
    font-weight:bold;
    background-color:black;
}

/*----------------------结束！------------------------*/
  
  
  
