<!--底部开始-->
<div class="footer">
    <div class="top">
        <ul style="width:220px">
            <img src="~/Content/images/base/bot_02.png" />
        </ul>
        <ul>
            <h3><a href="http://www.qydiamond.com/info/index/nid/1.html" target="_blank">关于我们</a></h3>
            <li><a href="http://www.qydiamond.com/info/index/nid/1.html" target="_blank">品牌简介</a></li>
            <li><a href="http://www.qydiamond.com/cover/index/nid/6.html" target="_blank">市场合作</a></li>
            <li><a href="http://www.qydiamond.com/list/index/nid/8.html" target="_blank">最新动态</a></li>
            <li><a href="http://www.qydiamond.com/contact/index/nid/9.html" target="_blank">联系我们</a></li>
        </ul>
        <ul>
            <h3><a href="http://www.qydiamond.com/news/index/nid/34.html" target="_blank">购物指南</a></h3>
            <li><a href="http://www.qydiamond.com/content/index/nid/34/id/61.html" target="_blank">购物流程</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/34/id/28.html" target="_blank">订单查询</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/34/id/27.html" target="_blank">在线下单</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/34/id/26.html" target="_blank">常见问题</a></li>
        </ul>
        <ul>
            <h3><a href="http://www.qydiamond.com/news/index/nid/35.html" target="_blank">支付方式</a></h3>
            <li><a href="http://www.qydiamond.com/content/index/nid/35/id/60.html" target="_blank">第三方支付</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/35/id/59.html" target="_blank">银行汇款</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/35/id/33.html" target="_blank">微信支付</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/35/id/32.html" target="_blank">支付宝支付</a></li>
        </ul>
        <ul>
            <h3><a href="http://www.qydiamond.com/news/index/nid/36.html" target="_blank">配送方式</a></h3>
            <li><a href="http://www.qydiamond.com/content/index/nid/36/id/58.html" target="_blank">定制店自提</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/36/id/31.html" target="_blank">顺丰保价快递</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/36/id/30.html" target="_blank">专人配送</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/36/id/29.html" target="_blank">包装代采购</a></li>
        </ul>
        <ul>
            <h3><a href="http://www.qydiamond.com/news/index/nid/37.html" target="_blank">售后服务</a></h3>
            <li><a href="http://www.qydiamond.com/content/index/nid/37/id/37.html" target="_blank">免费清洗</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/37/id/36.html" target="_blank">戒圈修改</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/37/id/35.html" target="_blank">终身保修</a></li>
            <li><a href="http://www.qydiamond.com/content/index/nid/37/id/34.html" target="_blank">优惠改款</a></li>
        </ul>
        <div class="right">
            <img src="~/Content/images/base/bottom1.png" />
        </div>
        <div class="bot"><img src="~/Content/images/base/bot_03.png" /></div>
    </div>

    <div class="bot">

        <div class="box">
            <p>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2770491440&amp;site=qq&amp;menu=yes">友情链接</a> | <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2559364384&amp;site=qq&amp;menu=yes">在线投诉</a> | Copyright © 2011-2016 All rights reserved   深圳市卿语珠宝有限公司  网站备案号： <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备12069075号-4</a>

            </p>
            <p>
                <a href="#" target="_blank">阿里巴巴</a> |
                <a href="#" target="_blank">淘宝</a> |
                <a href="#" target="_blank">天猫</a> |
                <a href="#" target="_blank">百度</a> |
                <a href="http://www.163.com/" target="_blank">网易</a> |
                <a href="http://www.sohu.com/" target="_blank">搜狐</a> |
                <a href="http://www.qq.com/" target="_blank">腾讯</a> |
                <a href="http://www.360.com/" target="_blank">360</a>

            </p>
        </div>
        <div class="img">
            <img src="~/Content/images/base/bot_07.png" />
            <img src="~/Content/images/base/bot_09.png" />
            <img src="~/Content/images/base/bot_11.png" />
            <img src="~/Content/images/base/bot_13.png" />
            <img src="~/Content/images/base/bot_15.png" />
        </div>

    </div>


</div>
<!--底部结束-->

<!--右侧客服导航开始-->
@{ Html.RenderPartial("RightFooterNav");}
<!--右侧客服导航结束-->
