@using FewMain.WebHelper.CurrentContext
<!--头部开始-->
<div class="header">
    <div class="top" name="top" id="top">
        <ul>
            <div class="logo"><a href="http://www.qydiamond.com/"><img src="~/Content/images/base/logo.png" title="尚爱珠宝" /></a></div>
            <li class="w"><a class="theme-login2" href="javascript:;">关注卿语</a></li>

            @if (CurrentUserContext.Current.IsLogin)
            {
                <li><a href="http://www.qydiamond.com/cart/index/class/1.html" target="_blank">您的购物车中有<b>0</b>件商品</a></li>

                <li><a href="@Url.Action("LoginOut","Account")" target="_top">退出</a></li>
                <li><a href="http://www.qydiamond.com/member/index.html" target="_blank">会员中心</a></li>
                <li>您好<b>@CurrentUserContext.Current.UserName</b>，欢迎来到尚爱珠宝品牌官网!</li>
            }
            else
            {
                <li><a href="@Url.Action("Register","Account")" target="_blank">注册</a></li>
                <li><a href="@Url.Action("Login","Account")" target="_blank">登陆</a></li>

                <li>您好<b></b>，欢迎来到尚爱珠宝品牌官网!</li>
            }

            <div class="theme-popover-mask"></div>
        </ul>
    </div>
    <div class="head">

        <div class="l_right"><img src="~/Content/images/base/l_right.jpg" title="" alt="" /></div>
        <div class="right"><img src="~/Content/images/base/phone.jpg" /></div>

    </div>

    <!---APP下载--->
    <div class="theme-popover" style="display:none;">
       @* <div class="theme-poptit"><h3><b></b>APP下载</h3> <a class="close" title="关闭" href="javascript:;">×</a></div>
    <div class="theme_box"><img src="~/Content/images/base/s_2.jpg" /><p>您好，欢迎下载尚爱珠宝APP《安卓版》！<!--请扫描二维码下载APP登录QYdiamond官网--></p></div>*@
    </div>
    <!---微信客服--->
    <div class="theme-popover2" style="display:none;">
        <div class="theme-poptit2"><h3><b></b>关注尚爱微信</h3> <a class="close" title="关闭" href="javascript:;">×</a></div>
        <div class="theme_box"><img src="~/Content/images/base/s_1.jpg" /><p>请扫码添加sunloves客服为您服务</p></div>
    </div>
</div>
<!--头部结束-->
