    <!--导航开始-->
<div class="navigation">
    <div class="nav_con">
        <ul class="topnav">
            <li><a href="http://www.qydiamond.com/">首页</a></li>
            <li style="background: none;">
                <a href="http://www.qydiamond.com/diamond/index/nid/2.html">全球裸钻查询</a>
                <span style="display: none;">
                    <div class="box">
                        <div class="left d1">
                            <b>证书</b>
                            <div class="lis">
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/certificate/GIA.html">GIA</a>
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/certificate/HRD.html">HRD</a>
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/certificate/IGI.html">IGI</a>
                            </div>
                            <img src="~/Content/images/base/navimg1.png" />
                        </div>
                        <div class="left d2">
                            <b>形状</b>
                            <div class="lis">
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/shape/ROUND.html">圆形</a>
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/shape/PRINCESS.html">公主方</a>
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/shape/OVAL.html">椭圆形</a>
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/shape/HEART.html">心形</a>
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/shape/MARQUISE.html">橄榄形</a>
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/shape/RADIANT.html">雷蒂恩</a>
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/shape/CUSHION.html">垫形</a>
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/shape/EMERALD.html">祖母绿</a>
                                <a href="http://www.qydiamond.com/diamond/index/nid/2/shape/PEAR.html">梨形</a>
                            </div>
                        </div>
                        <div class="right">
                            <a href="http://www.qydiamond.com/diamond/index/nid/2.html" target="_blank"><img src="~/Content/images/base/navad1.jpg" alt="裸钻" /></a>
                        </div>
                    </div>
                </span>
            </li>


            <li>
                <a href="http://www.qydiamond.com/Setting/index/nid/5.html">款式欣赏</a>
                <span>
                    <div class="box">
                        <div class="left s1">
                            <b><a href="http://www.qydiamond.com/Setting/index/nid/52.html">国内款式欣赏</a></b>
                            <div class="lis">
                                <a href="http://www.qydiamond.com/setting/index/nid/53.html">女戒</a><a href="http://www.qydiamond.com/setting/index/nid/54.html">男戒</a><a href="http://www.qydiamond.com/setting/index/nid/55.html">对戒</a><a href="http://www.qydiamond.com/setting/index/nid/56.html">吊坠</a><a href="http://www.qydiamond.com/setting/index/nid/57.html">耳钉</a><a href="http://www.qydiamond.com/setting/index/nid/58.html">手链</a><a href="http://www.qydiamond.com/setting/index/nid/59.html">黄钻</a><a href="http://www.qydiamond.com/setting/index/nid/60.html">异形</a><a href="http://www.qydiamond.com/setting/index/nid/77.html">JCAD定制</a>
                            </div>
                        </div>
                        <div class="left s2">
                            <b><a href="http://www.qydiamond.com/Setting/index/nid/62.html">国际大牌款式欣赏</a></b>
                            <div class="lis">
                                <a href="http://www.qydiamond.com/setting/index/nid/63.html">卡地亚</a><a href="http://www.qydiamond.com/setting/index/nid/64.html">蒂芙尼</a><a href="http://www.qydiamond.com/setting/index/nid/65.html">宝格丽</a><a href="http://www.qydiamond.com/setting/index/nid/66.html">香奈儿</a><a href="http://www.qydiamond.com/setting/index/nid/67.html">伯爵</a><a href="http://www.qydiamond.com/setting/index/nid/68.html">肖邦</a><a href="http://www.qydiamond.com/setting/index/nid/69.html">梵克雅宝</a><a href="http://www.qydiamond.com/setting/index/nid/70.html">巴黎尚美</a><a href="http://www.qydiamond.com/setting/index/nid/71.html">Bluenile</a><a href="http://www.qydiamond.com/setting/index/nid/72.html">海瑞温斯顿</a>
                            </div>
                            <a href="http://www.qydiamond.com/picture/index/nid/5.html" target="_blank"><img src="~/Content/images/base/navad2.jpg" alt="款式" /></a>
                        </div>
                        <div class="right">
                            <b>现有款式不满意？</b>
                            <a href="http://www.qydiamond.com/Setting/index/nid/5.html" target="_blank"><img alt="款式" src="~/Content/images/base/navad22.jpg" /></a>
                        </div>
                    </div>
                </span>
            </li>
            <li>
                <a href="http://www.qydiamond.com/info/index/nid/3.html">钻石定制介绍</a>
                <span>
                    <div class="box">
                        <div class="left z1"><b>钻石定制介绍</b></div>
                        <div class="left z2">
                            <div class="lis">
                                <a href="http://www.qydiamond.com/info/index/nid/3.html#a1">钻石定制</a>
                                <a href="http://www.qydiamond.com/info/index/nid/3.html#a2">选择裸钻</a>
                                <a href="http://www.qydiamond.com/info/index/nid/3.html#a3">购买流程</a>
                                <a href="http://www.qydiamond.com/info/index/nid/3.html#a4">定制流程</a>
                                <a href="http://www.qydiamond.com/info/index/nid/3.html#a5">定制优势</a>
                                <a href="http://www.qydiamond.com/info/index/nid/3.html#a6">定制内容</a>
                                <a href="http://www.qydiamond.com/info/index/nid/3.html#a7">费用构成</a>
                                <a href="http://www.qydiamond.com/info/index/nid/3.html#a8">镶嵌工艺</a>
                                <a href="http://www.qydiamond.com/info/index/nid/3.html#a9">售后服务</a>
                            </div>
                        </div>
                        <div class="right">
                            <a href="http://www.qydiamond.com/info/index/nid/3.html" target="_blank"><img src="~/Content/images/base/navad3.jpg" alt="定制介绍" /></a>
                        </div>
                    </div>
                </span>
            </li>
            <li>
                <a href="http://www.qydiamond.com/product/index/home/1.html">特价商城</a>
                <span>
                    <div class="box">
                        <div class="left c1"> <b>钻石首饰</b></div>
                        <div class="left c2">
                            <div class="lis">
                                <a href="http://www.qydiamond.com/product/index/nid/20.html">女戒</a><a href="http://www.qydiamond.com/product/index/nid/21.html">男戒</a><a href="http://www.qydiamond.com/product/index/nid/23.html">对戒</a><a href="http://www.qydiamond.com/product/index/nid/26.html">吊坠</a><a href="http://www.qydiamond.com/product/index/nid/27.html">耳钉</a><a href="http://www.qydiamond.com/product/index/nid/28.html">手链</a><a href="http://www.qydiamond.com/product/index/nid/24.html">女戒指环</a><a href="http://www.qydiamond.com/product/index/nid/25.html">男戒指环</a>
                            </div>
                        </div>
                        <div class="left c3">
                            <a href="http://www.qydiamond.com/product/index/home/1.html" target="_blank"><img src="~/Content/images/base/navad44.jpg" /></a>
                        </div>
                        <div class="right">
                            <a href="http://www.qydiamond.com/product/index/nid/4.html" target="_blank"><img src="~/Content/images/base/navad4.jpg" alt="在线商城" /></a>
                        </div>
                    </div>
                </span>
            </li>
            <li><a href="http://www.qydiamond.com/cover/index/nid/6.html">招商加盟</a></li>
            <li><a href="http://www.qydiamond.com/info/index/nid/1.html">品牌故事</a></li>
            <li><a href="http://www.qydiamond.com/list/index/nid/8.html">最新动态</a></li>
            <li><a href="http://www.qydiamond.com/contact/index/nid/9.html">联系卿语</a></li>
        </ul>
        <div class="one"><a class="theme-login" href="javascript:;"><img src="~/Content/images/base/app.jpg" />APP下载</a></div>
        <div class="one"><a href="#"><img src="~/Content/images/base/qy.jpg" />加入我们</a></div>
    </div>
</div>
<!--导航结束-->
